@charset "UTF-8";
/* 口コミ */

.page-review .ster {
	color: #bdbdbd;
}
.page-review .comment-point {
	font-size: 12px;
}
.page-review .btn-comment {
	margin: 45px auto 37px;
}
.page-review .btn-datail {
	margin: 37px auto;
}
.page-review .btn-castreview {
	margin: 37px auto;
}
.page-review .ndw {
	width: 65.74%;
}
.page-review .mgk {
	width: 55.53%;
}

/*--------------------------
SP メディアクエリ設定 737以下
------------------------------*/
@media screen and (max-width: 737px) {
.page-review .comment-point {
	font-size: 12px;
	margin-left: 6.25%;
}
.page-review .btn-comment {
	margin: 30px auto 20px;
}
.page-review .btn-datail {
	margin: 20px auto;
}
.page-review .btn-castreview {
	margin: 20px auto 56px;
}
.page-review .ndw {
	width: 77.33%;
}
.page-review .mgk {
	width: 65.33%;
}
}
/*-------------- 口コミエリア ----------------*/
.page-review .reviews-wrap {
	background-color: #fff;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	margin-bottom: 32px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.page-review .main-wrap .reviews-wrap-first {
	margin-top: 60px;
}
.page-review .main-wrap .reviews-wrap-last {
	margin-bottom: 0;
}

@media screen and (max-width: 737px) {
.reviews-wrap {
	width: 93.2%;
	margin: 0 3.5% 15px;
}
.page-review .main-wrap .reviews-wrap-first {
	margin-top: 20px;
}
}
.reviews-user-area {
	background: url(/assets/ps/domo/beautyhabit/review/img/comment-name.jpg) no-repeat;
	background-size: cover;
	color: #fff;
	border-top-left-radius: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-top-right-radius: 20px;
	padding: 1em 3.14% 0.7em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.reviews-txt-area {
	padding: 1em 3.14% 0.7em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.reviews-data {
	padding: 0 3.14% 2em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
/*--------------------------
pager
------------------------------*/
.customer-pager {
	overflow: hidden;
	position: relative;
	margin: 40px 0 0;
}
.customer-pager ul {
	text-align: center;
	list-style: none;
	position: relative;
	margin: 0 auto;
	padding: 0;
	letter-spacing: -.5em;
	vertical-align: top;
}
.customer-pager ul li {
	margin: 1%;
	position: relative;
	display: inline-block;
	letter-spacing: normal;
	width: 9.2%;
	vertical-align: top;
}
.customer-pager ul li.prev, .customer-pager ul li.next {
	width: 20%;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.customer-pager ul li.prev a, .customer-pager ul li.next a {
	padding: 0;
}
.customer-pager ul li span, .customer-pager ul li a {
	display: block;
	padding: 0.6em;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.customer-pager ul li a {
	background: #fff;
	color: #000;
	text-decoration: none;
}
.customer-pager ul li a:hover {
	background: #c2b39c;
	color: #fff;
	text-decoration: none;
}
.customer-pager ul li.page-current {
	background: #b3a083;
	color: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.pager-ndw {
	max-width: 618px;
	width: 100%;
}
.pager-mgk {
	max-width: 522px;
	width: 100%;
}
.customer-pager ul li.prev, .customer-pager ul li.prev a {
	background: #fff url(/assets/ps/domo/beautyhabit/review/img/arrow_prev.png) no-repeat 50% 50%;
	background-size: auto 23px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.customer-pager ul li.next, .customer-pager ul li.next a {
	background: #fff url(/assets/ps/domo/beautyhabit/review/img/arrow_next.png) no-repeat 50% 50%;
	background-size: auto 23px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.customer-pager ul li.prev a, .customer-pager ul li.next a {
	padding: 0.3em 1em;
}
.customer-pager ul li.prev a:hover {
	background: #c2b39c url(/assets/ps/domo/beautyhabit/review/img/arrow_prev_w.png) no-repeat 50% 50%;
	background-size: auto 23px;
}
.customer-pager ul li.next a:hover {
	background: #c2b39c url(/assets/ps/domo/beautyhabit/review/img/arrow_next_w.png) no-repeat 50% 50%;
	background-size: auto 23px;
}

@media screen and (max-width: 568px) {
.customer-pager {
	margin: 0 3%;
	position: relative;
}
.customer-pager ul li {
	width: 18%;
	margin: 1%;
}
.customer-pager ul li.prev, .customer-pager ul li.next {
	width: 48%;
	margin: 1% 0;
}
.customer-pager ul li.prev {
	margin-right: 52%;
}
.customer-pager ul li.next {
	position: absolute;
	top: 0;
	right: 0;
}
.customer-pager ul li:nth-child(2) {
	margin: 1% 1% 1% 0;
}
.customer-pager ul li:nth-child(7) {
	margin: 1% 0 1% 1%;
}

}
/*--------------------------
format config
------------------------------*/
.page-footer {
	margin-top: 0;
}

@media screen and (max-width: 568px) {
.template-enable-media-queries .page-footer {
	margin-top: 0;
}
.template-enable-media-queries .page-footer .footer-bottom01 {
	margin-top: 0;
}
.bh-main {
	padding-top: 0;
}
.template-enable-media-queries .tmp-sp-header .tmp-sp-global_nav {
	display: none;
}
}