@charset "shift_jis";
/* ----------------------------
  RESET
------------------------------ */
/* html5doctor.com Reset Stylesheet v1.4 2009-07-27 Author: Richard Clark - http://richclarkdesign.com */
html, body, div, span, object, iframe, embed, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
 b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header,
 hgroup, menu, nav, section, time, mark, audio, video {margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;
-webkit-box-sizing: border-box;-moz-box-sizing: border-box;font-weight: normal;}
html {font-size: 62.5%;}body {font-size: 1rem;line-height: 1.4;}article, aside, dialog, figure, footer, header, hgroup, nav, section {display: block;}
blockquote, q {quotes: none;}blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
ul, ol {list-style: none;}ins {background-color: #ff9;color: #000;text-decoration: none;}mark {background-color: #ff9;color: #000;font-style: italic;font-weight: bold;}
del {text-decoration: line-through;}abbr[title], dfn[title] {border-bottom: 1px dotted #000;cursor: help;}
table {border-collapse: collapse;border-spacing: 0;}th, td {text-align: left;font-weight: normal;}
hr {display: block;height: 1px;border: 0;border-top: 1px solid #ccc;padding: 0;}
textarea, input[type=text], input[type=password], input[type=tel], input[type=email] {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border-box;}
input, select, textarea, button {vertical-align: middle;}input, textarea {font-size: 1.3rem;}select {margin: inherit;}
img {vertical-align: bottom;}a, a:link, a:visited, a:hover, a:active {text-decoration: unserline;}a img {border: 0;outline: 0;}
span {display: inline-block;}
/* ----------------------------
  CLEAR FIX
------------------------------ */
.clearfix {
*zoom:1;
}
.clearfix:before, .clearfix:after {
	display: block;
	content: "";
}
.clearfix:after {
	clear: both;
}
/* ----------------------------
  STYLE CSS
------------------------------ */

* {
	font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
	-webkit-text-size-adjust: none;
}
body {
	height:auto;
/* 	height:100%; */
	font-size: 1.4rem;
	line-height: 1.4;
	color: #535353;
}
p {
	font-size: 1.4rem;
}
address {
	font-size: 1.6rem;
	font-style: normal;
}
.active {
	display: block;
}
.thumbnail {
	overflow: hidden;
}
.thumbnail > img {
	width: 100%;
	height: auto;
}
h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
/* ------------------------------
 Form Element
 ------------------------------- */
input[type=radio]{
  width: 15px;
  margin: 6px 0;
  vertical-align: baseline;
}
  input[type=radio] + label{
    margin: 0 0 0px 5px;
  }
input[type=tel],input[type=text]{
  padding: 5px 6px;
  border: 1px solid #999;
}
input[type=tel]:focus,input[type=text]:focus{
  background-color: lightyellow;
}
input[type=checkbox]{
  margin: 6px 0;
  vertical-align: baseline;
}
  input[type=checkbox] + label{
    margin: 0 0 0 4px;
  }
select{
  font-size: 1.7rem;
}

/* ------------------------------
 List Style
 ------------------------------- */
.list_disc{
  list-style: disc;
  padding-left: 14px;
}
/* ------------------------------
 icon
 ------------------------------- */
i{
  display: inline-block;
  width: 10px;height: 10px;
  background: no-repeat 0 0 transparent url(/assets/sp/domo/index/images/common/sprite.png);
  -webkit-background-size: 250px auto;
     -moz-background-size: 250px auto;
          background-size: 250px auto;
  vertical-align:middle;
}
.iconFirm i{
  background-color: #ccc;
}

/* 16 x 16 */
i.leaf{width:16px;height: 20px;background-position: 0 0;}

/* 13 x 13 */
i.circle{width:13px;height:13px;background-position: -24px 0;}
i.arD01{width:13px;height:13px;background-position: 2px -23px;}
i.arD02{width:13px;height:13px;background-position: -22px -23px;}
i.arR01{width:13px;height:13px;background-position: -9px -23px;}
i.arR01{width:13px;height:13px;background-position: -9px -23px;}
i.arR01a{width:13px;height:13px;background-position: -9px -36px;}

/* 10 x 10 */
i.arR02{background-position: -34px -24px;}
i.arR03{background-position: -50px -24px;}
i.arR03.selected,.active .arR03{background-position: -75px -24px;}
i.arR03.desable{background-position: -62px -24px;}
i.arR04{background-position: -90px -24px;}
i.arR05{background-position: -102px -24px;}
i.arR06{background-position: -62px -41px;}
i.arR07{background-position: -50px -41px;}

/* Other */
i.cart{width:26px;height: 26px;background-position: 0 -174px;}
  .off > i.cart{width:26px;height: 26px;background-position: -30px -174px;}
i.cartS{width:20px;height: 20px;background-position: -70px -174px;}
i.listdisc{width: 7px;height: 7px;background-position: 0 -124px;}
i.newwin{width: 14px;height: 14px;background-position: 0 -148px;}
i.dl{width: 14px;height: 14px;background-position: -26px -148px;}
i.exclamation{width: 34px;height: 30px;background-position: -217px -75px;}
i.acc{width: 30px;height: 30px;background-position: -69px -75px;}
  .off i.acc{width: 30px;height: 30px;background-position: -104px -75px;}
i.exclamationOrange{width: 21px;height: 18px;background-position: -183px -75px;}
i.slideDisc{width:12px;height:12px;background-position: 0px -50px;}
.selected i.slideDisc{background-position: -19px -50px;}

.check{width: 20px;height: 20px;background-position: 0 -75px;}
 .off > .check.checked{background-position: -25px -75px;}
.check.green{background-position: 0 -100px;}
.check.green.checked{background-position: -25px -100px;}

.pochi{width: 10px;height: 7px;background-position: 0 -125px;}

/* ------------------------------
 Header
 ------------------------------- */
header.page {
	position: relative;
	border-top: 3px solid #825363;
	height: 40px;
	padding: 0 6px;
	border-bottom: 1px solid #b88887;
	color: #64293d;
	font-size: 1.5rem;
	white-space: nowrap;
}
header.page1 {
	position: relative;
	border-top: 3px solid #F30;
	height: 44px;
	padding: 0 6px;
	border-bottom: 1px solid #C30;
	color: #64293d;
	font-size: 1.5rem;
	white-space: nowrap;
}
.logo {
	display: inline-block;
	width: 30%;
	height: 18px;
	margin: 10px 0 0 0;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	background: url(/assets/sp/domo/index/images/common/sprite.png) no-repeat 0 -232px;
	-webkit-background-size: 250px 250px;
	   -moz-background-size: 250px 250px;
	        background-size: 250px 250px;
	vertical-align: top;
}
.logo3 {
	display: inline-block;
	width: 23%;
	height: 30px;
	margin: 6px 0 0 0;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	background: url(/assets/sp/domo/index/images/common/sprite_.png) no-repeat -90px -223px;
	-webkit-background-size: 250px;
	   -moz-background-size: 250px;
	        background-size: 250px;
	vertical-align: top;
}

.inquiry {
	display: inline-block;
	width: 40%;
	margin: 8px 0 0 0;
}
.inquiry a {
	display: block;
	line-height: 1;
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #e2d9d9));
	background: -webkit-linear-gradient(top, #f6f6f6 0%, #e2d9d9 100%);
	background: -moz-linear-gradient(top, #f6f6f6 0%, #e2d9d9 100%);
	background: linear-gradient(to bottom, #f6f6f6 0%, #e2d9d9 100%);
	overflow: hidden;
	font-size: 1.1rem;
	color: #734;
	border : 1px solid #734;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 4px 0;
	text-align: center;
	text-decoration:none;
}
#navi {
	height: 50px;
	width: 100%;
}
.menu {
	width: 34%;
	height: 41px;
	margin: 0px 0 0 0;
	position: relative;
	float: left;
	background: #FFFCF7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFCF7), color-stop(100%, #F7E7D7));
	background: -webkit-linear-gradient(top, #FFFCF7 0%, #F7E7D7 100%);
	background: -moz-linear-gradient(top, #FFFCF7 0%, #F7E7D7 100%);
	background: linear-gradient(to bottom, #FFFCF7 0%, #F7E7D7 100%);
	overflow: hidden;
}
.menu a {
	display: block;
	font-size: 1.1rem;
	color: #3e3939;
	width: 100%;
	height: 41px;
	text-align: center;
	position: absolute;
	top: 50%;
	margin-top: -1.2em;
	text-decoration: none;
}
.menu2 {
	display: inline-block;
	width: 33%;
	margin: 0px 0 0 0;
	float: left;
	position: relative;
}
.menu2 a {
	display: block;
	line-height: 41px;
	background: #FFFCF7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFCF7), color-stop(100%, #F7E7D7));
	background: -webkit-linear-gradient(top, #FFFCF7 0%, #F7E7D7 100%);
	background: -moz-linear-gradient(top, #FFFCF7 0%, #F7E7D7 100%);
	background: linear-gradient(to bottom, #FFFCF7 0%, #F7E7D7 100%);
	overflow: hidden;
	font-size: 1.1rem;
	color: #3e3939;
	border : solid #CFC2C2;
	border-width: 0px 0px 0px 1px;
	line-height: 41px;
	height: 41px;
	text-align: center;
	text-decoration: none;
}

.tel {
	display: inline-block;
	width: 38%;
	height: 25px;
	line-height: 25px;
}
.tel a {
	background: url(/assets/sp/domo/index/images/common/tel_info.png);
	background-repeat: no-repeat;
	background-position: top right;
	-webkit-background-size: 112px 25px;
	-moz-background-size: 112px 25px;
	background-size: 112px 25px;
	display: block;
	font-size: 1.2rem;
	color: #000;
	margin: 1px 0 0 4px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.tel2 {
	display: inline-block;
	width: 38%;
	height: 25px;
	line-height: 25px;
	float:right;
	margin-top:5px;
	margin-right:1px;
}
.tel2 a {
	background: url(/assets/sp/domo/index/images/common/tel_info.png);
	background-repeat: no-repeat;
	background-position: top right;
	-webkit-background-size: 112px 25px;
	-moz-background-size: 112px 25px;
	background-size: 112px 25px;
	display: block;
	font-size: 1.2rem;
	color: #000;
	margin: 1px 0 0 4px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}

/* ------------------------------
パンくず画像
 ------------------------------- */
.breadcrumbs_month_01{
    width: 320px;
    height: 52px;
    background: url(/assets/sp/domo/index/images/common/breadcrumbs_month.png) no-repeat 0 0;
    -webkit-background-size: 320px auto;
       -moz-background-size: 320px auto;
            background-size: 320px auto;
 }
.breadcrumbs_month_02{
    width: 320px;
    height: 52px;
    background: url(/assets/sp/domo/index/images/common/breadcrumbs_month.png) no-repeat  0 -52px;
    -webkit-background-size: 320px auto;
       -moz-background-size: 320px auto;
            background-size: 320px auto;
 }
.breadcrumbs_month_03{
    width: 320px;
    height: 52px;
    background: url(/assets/sp/domo/index/images/common/breadcrumbs_month.png) no-repeat  0 -104px;
    -webkit-background-size: 320px auto;
       -moz-background-size: 320px auto;
            background-size: 320px auto;
 }
.breadcrumbs_month_04{
    width: 320px;
    height: 52px;
    background: url(/assets/sp/domo/index/images/common/breadcrumbs_month.png) no-repeat  0 -156px;
    -webkit-background-size: 320px auto;
       -moz-background-size: 320px auto;
            background-size: 320px auto;
 }
/* ------------------------------
 Heading Style
 ------------------------------- */
.hs0{
  min-height: 31px;
  font-size: 1.8rem;
  font-weight:bold;
  color: #64293d;
  line-height: 30px;
  background: url(/assets/sp/domo/index/images/common/bg_contents_h1.png) no-repeat right bottom;
  -webkit-background-size: 320px 52px;
     -moz-background-size: 320px 52px;
          background-size: 320px 52px;
  border-bottom: 1px solid #e3ded4;
}

.hs2{
  position: relative;
  padding: 5px 10px;
  border-bottom: 2px solid #64293d;
  border-top: 1px solid #e3ded4;
  color: #64293d;
  font-size: 1.8rem;
  font-weight:bold;
  line-height: 1.3;
  background-color: #f6ecec;
  background: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#f6ecec));
  background:                  -webkit-linear-gradient(top,#ffffff,#f6ecec);
  background:                     -moz-linear-gradient(top,#ffffff,#f6ecec);
  background:                          linear-gradient(top,#ffffff,#f6ecec); 
}
  .hs2.icon{
    padding-left: 30px;
  }
  .hs2 > i{
    position: absolute;
    top: 7px;
    left: 6px;
    margin-right: 4px;
  }

.hs4{
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #b88887;
  color: #64293d;
  line-height: 1.3;
  font-weight:bold;
}
.hs4.icon{
  padding-left: 30px;
}
  .hs4 > i{
    position: absolute;
    top: 13px;left: 10px;
  }

/* ------------------------------
 Contents > .Accordion
 ------------------------------- */
.accordionKey{
  vertical-align: middle;
}
.accordionKey.withIcon{
  padding: 5px 10px 5px 50px;
  min-height: 30px;
  line-height: 30px;
}
.accordionKey.withIcon_default{
  padding: 5px 10px 5px 10px;
  min-height: 30px;
  line-height: 30px;
}

  .accordionKey > i{
/*    position: absolute;
    top: 5px;
    left: 10px;*/
  }
.accordionBody{}
.accordionBody.active{
  display: block;
}

.accordionKey.withIconCenter{
  padding: 5px 10px 5px 10px;
}

.accordionKey.card_backcolor{
	background: #f1e3e3;
}


/* ------------------------------
 Contents > .tableMenu
 ------------------------------- */
.navMenu{
  width: 100%;
}

.tableMenu{
  display: table;
  width: 100%;
}

  .navMenu div{
    display: table;
    width: 100%;
	background: #FFFCF7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFCF7), color-stop(100%, #F7E7D7));
	background: -webkit-linear-gradient(top, #FFFCF7 0%, #F7E7D7 100%);
	background: -moz-linear-gradient(top, #FFFCF7 0%, #F7E7D7 100%);
	background: linear-gradient(to bottom, #FFFCF7 0%, #F7E7D7 100%);
	overflow: hidden;
	border : solid #CFC2C2;
	border-width: 0 1px 1px 1px;
  }

  .navMenu div > span.table100{
    display: table-cell;
    width: 100%;
    padding: 2px 0;
    font-size: 1.2rem;
    text-align: center;
  }

  .navMenu div > span.table50{
    display: table-cell;
    width: 50%;
    padding: 2px 0;
    font-size: 1.2rem;
    text-align: center;
  }
  .navMenu div > span a{
    display: block;
    color: #000;
    text-decoration: none;
  }
    .navMenu div > span a > i{
      vertical-align: middle;
    }
  .navMenu div > span:nth-child(2n) > a{
    display: block;
    text-decoration: none;
  }


/* ------------------------------
 Button
 (#top #bottom)
 ------------------------------- */
.btn{
  position: relative;
  display: inline-block;
  width:100%;
  height: auto;
  padding: 5px 10px;
  background-color: #65293d;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#c17c93),to(#af5974));
  background-image: -webkit-linear-gradient(top,#c17c93,#af5974);
  background-image: -moz-linear-gradient(top,#c17c93,#af5974);
  background-image: linear-gradient(top,#c17c93,#af5974);
  border: none;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  font-size: 1.8rem;
  font-weight:bold;
  line-height: 32px;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0,0,0, .15);
  vertical-align:middle;
}

.accordionBtn{
  position: relative;
  display: inline-block;
  height: 32px;
  padding: 0 12px;
  background-color: #65293d;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#c17c93),to(#af5974));
  background-image: -webkit-linear-gradient(top,#c17c93,#af5974);
  background-image: -moz-linear-gradient(top,#c17c93,#af5974);
  background-image: linear-gradient(top,#c17c93,#af5974);
  border: none;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  font-size: 1.4rem;
  line-height: 32px;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0,0,0, .15);
	margin: 10px;
}

.btn > span{
  line-height: 30px;
}
 
.accordionBtn > span{
  line-height: 30px;
}

.btn > i{
  margin-right: 4px;
}

.btnReturn{
  height: auto;
  padding: 3px 20px;
  background-color: #efe9de;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#efe9de));
  background-image:                  -webkit-linear-gradient(top,#fff,#efe9de);
  background-image:                     -moz-linear-gradient(top,#fff,#efe9de);
  background-image:                          linear-gradient(top,#fff,#efe9de);
  border: 1px solid #e6cdb9;
  color: #9a5a25;
  font-size: 1.6rem;
  text-shadow: none;
}

.btnQuestion{
  height: auto;
  padding: 3px 20px;
  width:60%;
  background-color: #efe9de;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#efe9de));
  background-image:                  -webkit-linear-gradient(top,#fff,#efe9de);
  background-image:                     -moz-linear-gradient(top,#fff,#efe9de);
  background-image:                          linear-gradient(top,#fff,#efe9de);
  border: 1px solid #e6cdb9;
  color: #9a5a25;
  font-size: 1.6rem;
  text-shadow: none;
}

/* ------------------------------
 Layout
 ------------------------------- */
.flLeft {float: left!important;}
.flRight{float: right!important;}

.vAT{vertical-align: top!important;}
.vAB{vertical-align: bottom!important;}
.vAM{vertical-align: middle!important;}
.vABa{vertical-align: baseline!important;}

/* ------------------------------
 Layout > Box
 ------------------------------- */
.borderBox{border: 1px solid #B88887!important;}
.borderBoxTop{border-top: 1px solid #B88887!important;}
.borderBoxBottom{border-bottom: 1px solid #B88887!important;}
.borderBoxTopBottom{border-top: 1px solid #B88887!important;border-bottom: 1px solid #B88887!important;}

.borderBoxTopDot{border-top: 1px dotted #B88887!important;}
.borderBoxBottomDot{border-bottom: 1px dotted #B88887!important;}
.borderBox_alert{border: 1px solid #d80c18!important;
background-color:#fbeacb;}

 
.offset  {padding: 0 0 0 10px;}
.offset12{padding: 0 0 0 12px;}
.offset14{padding: 0 0 0 14px;}
.offset15{padding: 0 0 0 15px;}
.offset16{padding: 0 0 0 16px;}
.offset18{padding: 0 0 0 18px;}
.offset20{padding: 0 0 0 20px;}
.offset24{padding: 0 0 0 24px;}
.offset25{padding: 0 0 0 25px;}
 
.onset  {margin: 0 0 0 10px;}
.onset12{margin: 0 0 0 12px;}
.onset14{margin: 0 0 0 14px;}
.onset15{margin: 0 0 0 15px;}
.onset16{margin: 0 0 0 16px;}
.onset18{margin: 0 0 0 18px;}
.onset20{margin: 0 0 0 20px;}

.boxoffset79 {padding: 7px 9px;}
.boxoffset  {padding: 10px 10px;}
.boxoffset12{padding: 10px 12px;}
.boxoffset14{padding: 10px 14px;}
.boxoffset15{padding: 10px 15px;}
.boxoffset16{padding: 10px 16px;}
.boxoffset18{padding: 10px 18px;}
.boxoffset20{padding: 10px 20px;}

.boxoffsetLR  {padding: 0px 10px;}

.boxoffset.error{
  display: table;
  width: 100%;
  background: #f27526;
}
  .boxoffset.error .mark{
    display: table-cell;
    width: 34px;
    padding: 0 15px 0 5px;
    vertical-align:middle;
  }
  .boxoffset.error .alertTxt{
    display:table-cell;
    color: #fff;
  }

[class^=boxo].blue{background: #f3f8f8;}
[class^=boxo].pink{background: #f4e9e9;}
[class^=boxo].gray{background: #f7f7f1;}

.boxonset5 {margin: 0 5px;}
.boxonset  {margin: 0 10px;}
.boxonset12{margin: 0 12px;}
.boxonset14{margin: 0 14px;}
.boxonset15{margin: 0 15px;}
.boxonset16{margin: 0 16px;}
.boxonset18{margin: 0 18px;}
.boxonset20{margin: 0 20px;}

.boxonset_tb  {margin: 10px 0;}
.boxonset12_tb{margin: 12px 0;}
.boxonset14_tb{margin: 14px 0;}
.boxonset15_tb{margin: 15px 0;}
.boxonset16_tb{margin: 16px 0;}
.boxonset18_tb{margin: 18px 0;}
.boxonset20_tb{margin: 20px 0;}

.mB5 {margin-bottom: 5px !important;}
.mB10{margin-bottom: 10px!important;}
.mB15{margin-bottom: 15px!important;}
.mB20{margin-bottom: 20px!important;}
.mB25{margin-bottom: 25px!important;}
.mB30{margin-bottom: 30px!important;}
.mB35{margin-bottom: 35px!important;}
.mB40{margin-bottom: 40px!important;}
.mB45{margin-bottom: 45px!important;}
.mB50{margin-bottom: 50px!important;}
.mB55{margin-bottom: 55px!important;}

.mT5 {margin-top: 5px !important;}
.mT10{margin-top: 10px!important;}
.mT15{margin-top: 15px!important;}
.mT20{margin-top: 20px!important;}
.mT25{margin-top: 25px!important;}
.mT30{margin-top: 30px!important;}
.mT35{margin-top: 35px!important;}
.mT40{margin-top: 40px!important;}
.mT45{margin-top: 45px!important;}
.mT50{margin-top: 50px!important;}
.mT55{margin-top: 55px!important;}

.mR5 {margin-right: 5px !important;}
.mR6 {margin-right: 6px !important;}
.mR10{margin-right: 10px!important;}
.mR15{margin-right: 15px!important;}
.mR20{margin-right: 20px!important;}
.mR25{margin-right: 25px!important;}
.mR30{margin-right: 30px!important;}
.mR35{margin-right: 35px!important;}
.mR40{margin-right: 40px!important;}
.mR45{margin-right: 45px!important;}
.mR50{margin-right: 50px!important;}
.mR55{margin-right: 55px!important;}

.mL5 {margin-left: 5px !important;}
.mL10{margin-left: 10px!important;}
.mL15{margin-left: 15px!important;}
.mL20{margin-left: 20px!important;}
.mL25{margin-left: 25px!important;}
.mL30{margin-left: 30px!important;}
.mL35{margin-left: 35px!important;}
.mL40{margin-left: 40px!important;}
.mL45{margin-left: 45px!important;}
.mL50{margin-left: 50px!important;}
.mL55{margin-left: 55px!important;}

/* -----------------------------
 Font
 ------------------------------- */
.fcRed{color: #dc417b!important;} 
.fcGray{color: #535353!important;}
.fcPink{color: #de407b!important;}
.fcLPink{color: #f37fb0!important;}
.fcOrange{color: #f67824!important;}
.fcGreen{color: #2aa241!important;}
.fcPurple{color: #65273c!important;}
.fcLPurple{color: #923CC9!important;}
.fcBrown{color: #975b27!important;}
.fcBrown2{color: #8e582a!important;}
.fcAlert{color: #d80c18!important;}

.txtAC{text-align: center;!important;}
.txtAR{text-align: right;!important;}
.txtAL{text-align: left;!important;}

.fsSS{font-size: 1.0rem!important;}
.fsS{font-size: 1.4rem!important;}
.fsM{font-size: 1.6rem!important;}
.fsL{font-size: 1.8rem!important;}

.fsM_br{font-size: 1.6rem!important; line-height:2.0rem;}

.fBold{
	font-weight:bold;
}

/*-----------------------------------
ボディ
-----------------------------------*/
h3.formItem, div.formItem {
	margin: 0 0 3px 0;
	padding: 5px 10px;
	background: #f1e3e3;
	font-size: 1.6rem;
	font-weight: bold;
	color: #333;
}
h3.userItem {
	margin: 0;
	padding: 5px 10px;
	background: #f1e3e3;
	font-size: 1.6rem;
	font-weight: bold;
	color: #333;
}
.formPart {
	padding: 6px 6px 10px 6px;
}
.formPart_Top {
	padding: 6px 6px 0px;
}
.formPart_LR {
	padding: 0px 6px 0px;
}
.formText {
	font-size: 1.4rem;
	margin: 6px 0;
}
.formText span {
	display: inline;
}
.textLinkRed {
	color: #d80c18;
	text-decoration: underline;
}
.ftRed {
	color: #d80c18!important;
}
.ftAttention {
	font-size: 1.4rem;
	color: #d80c18;
	margin: 4px 0 4px 4px;
}
.ftAlert {
	font-size: 1.6rem;
	background-color: #d80c18;
	color: #fff;
	margin: 2px 4px;
	padding: 3px 6px;
}
.formBox {
	font-size: 1.4rem;
	margin: 0px 0px;
}
input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
	border: 1px solid #999;
	margin: 4px 4px;
	padding: 5px 1px;
}
input[type="radio"], input[type="checkbox"] {
	vertical-align: baseline;
}
.selectBoxL {
	width: 200px;
	margin: 4px;
	font-size: 1.6rem;
	padding: 2px;
}
.selectBoxM {
	width: 162px;
	margin: 4px;
	font-size: 1.6rem;
	padding: 2px;
}
.selectBoxS {
	width: 80px;
	margin: 4px;
	font-size: 1.6rem;
	padding: 2px;
}
.textBoxS {
	width: 80px;
}
.textBoxSs {
	width: 50px;
}
.formBox span.firstName, .formBox span.familyName, .zip span.zipMark {
	font-size: 1.4rem;
	vertical-align: middle;
	padding-left: 4px;
}
.formBox span.year, .formBox span.month, .formBox span.day {
	font-size: 1.2rem;
	vertical-align: bottom;
	line-height: 1.8;
}
.boxWidthHalf {
	width: 50%;
	border: 1px solid #999;
}
.boxWidthFull {
	width: 98%;
	border: 1px solid #999;
}
.checkboxListMs{
	display: inline-block;
	width: 142px;
	font-size: 1.4rem;
	padding: 0 0 6px 0;
}

.textAreaWidthFull {
	width: 100%;
	border: 1px solid #999;
	margin: 0;
}
.radioList {
	display: inline-block;
	font-size: 1.4rem;
	padding: 2px 8px 6px 0;
}
.formTextBtn {
	margin: 8px 4px;
}
.formTextBtn a {
	display: inline-block;
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #e2d9d9));
	background: -webkit-linear-gradient(top, #f6f6f6 0%, #e2d9d9 100%);
	background: -moz-linear-gradient(top, #f6f6f6 0%, #e2d9d9 100%);
	background: linear-gradient(to bottom, #f6f6f6 0%, #e2d9d9 100%);
	font-size: 1.2rem;
	color: #734;
	border : 1px solid #734;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 6px;
	line-height: 1;
	text-decoration:none;
}
.formItemBtn {
	text-align: center;
}
.formItemBtn a {
	display: inline-block;
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #e2d9d9));
	background: -webkit-linear-gradient(top, #f6f6f6 0%, #e2d9d9 100%);
	background: -moz-linear-gradient(top, #f6f6f6 0%, #e2d9d9 100%);
	background: linear-gradient(to bottom, #f6f6f6 0%, #e2d9d9 100%);
	font-size: 1.2rem;
	color: #734;
	border : 1px solid #734;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 8px;
	margin: 4px 0 2px 0;
	line-height: 1;
	text-decoration:none;
}

h4.formItem2 {
	font-size: 1.4rem;
	margin: 4px 0 0 4px;
}

.btnAgree{
	display: block;
	background: #bc8689;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #e2d9d9));
	background: -webkit-linear-gradient(top, #f6f6f6 0%, #e2d9d9 100%);
	background: -moz-linear-gradient(top, #f6f6f6 0%, #e2d9d9 100%);
	background: linear-gradient(to bottom, #f6f6f6 0%, #e2d9d9 100%);
	width: 100%;
	border: 1px solid #b3b3b3;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height: 38px;
	line-height: 36px;
	font-size: 1.4rem;
	font-weight: bold;
	color: #555;
	margin: 10px auto;
	text-align: center;
}
.btnSubmit {
	display: block;
	background: #bc8689;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bc8689), color-stop(49%, #8a4d50), color-stop(51%, #552630), color-stop(100%, #56202c));
	background: -webkit-linear-gradient(top, #bc8689 0%, #8a4d50 49%, #552630 51%, #56202c 100%);
	background: -moz-linear-gradient(top, #bc8689 0%, #8a4d50 49%, #552630 51%, #56202c 100%);
	background: linear-gradient(to bottom, #bc8689 0%, #8a4d50 49%, #552630 51%, #56202c 100%);
	width: 100%;
	border: 1px solid #56202c;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height: 40px;
	line-height: 40px;
	font-size: 1.6rem;
	font-weight: bold;
	color: #fff;
	margin: 10px auto;
	text-align: center;
	text-decoration:none;
}

.btnOtameshi {
	display: block;
	background: #bc8689;
	background-color: #65293d;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#c17c93), to(#af5974));
	background: -webkit-linear-gradient(top, #c17c93, #af5974);
	background: -moz-linear-gradient(top, #c17c93, #af5974);
	background: linear-gradient(top, #c17c93, #af5974);
	width: 100%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height: 40px;
	line-height: 40px;
	font-size: 1.6rem;
	font-weight: bold;
	color: #fff;
	margin: 10px auto 5px;
	white-space: nowrap;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
	text-decoration: none;

}
.footer {
	color: #666;
	background: url(/assets/sp/domo/index/images/common/bg_footer.png) no-repeat left bottom;
	-webkit-background-size: 320px auto;
	-moz-background-size: 320px auto;
	background-size: 320px auto;
	text-align: center;
    font-size: 1.2rem;
	line-height: 16px;
	padding: 10px 0px 10px;
	margin-top: 4px;
	border-top: 1px solid #cec1c1;
}

/*---------------------------
新アコーディオン
上下サイズが変わっても中央配置
---------------------------*/
div.acc_line {
    width: 100%;
}

div.acc_line div {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.2em;
		padding:0;
		margin:0;
}

div.acc_line div.acc_icon {
    width: 40px;
}

/* IE 6 */
* html div.acc_line div {
    display: inline;
    zoom: 1;
}

/* IE 7 */
*:first-child+html div.acc_line div {
    display: inline;
    zoom: 1;
}

.accordionNumber{
	width:30px;
	height:30px;
}

/*--------------------------
幅100％画像用
--------------------------*/
.top_image100{
	width:100%;
	height:auto;
	user-select:none;
}

.top_image60{
	width:30%;
	height:auto;
	user-select:none;
	text-align:center;
	margin: 0 auto;
}
.present{
	text-align:center;
	margin: 0 auto;
}


.clear_box{
	clear:both;
}



/*--------------------------
新フッターボタン
--------------------------*/
.domoTopLink_box {
	width: 60%;
	float: left;
}
.pageTopLink_box {
	width: 40%;
	float: left;
}
.domoTopLink_h {
	display: inline-block;
	width: 100%;
	padding: 6px 4px 6px 0px;
}
.pageTopLink_h {
	display: inline-block;
	width: 100%;
	padding: 6px 0px 6px 4px;
}
.domoTopLink_h > a {
	display: block;
	width: 100%;
	height: 28px;
	background-color: #65293d;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#c17c93), to(#af5974));
	background: -webkit-linear-gradient(top, #c17c93, #af5974);
	background: -moz-linear-gradient(top, #c17c93, #af5974);
	background: linear-gradient(top, #c17c93, #af5974);
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 1.2rem;
	line-height: 28px;
	white-space: nowrap;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
	text-decoration: none;
}
.pageTopLink_h a {
	display: block;
	width: 100%;
	height: 28px;
	background-color: #65293d;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#d5d5d5), to(#b7b7b7));
	background: -webkit-linear-gradient(top, #d5d5d5, #b7b7b7);
	background: -moz-linear-gradient(top, #d5d5d5, #b7b7b7);
	background: linear-gradient(top, #d5d5d5, #b7b7b7);
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 1.2rem;
	line-height: 28px;
	white-space: nowrap;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
	text-decoration: none;
}
.itemTitleIndent{
	text-indent:4px;
}


/*--------------------------
新リーフアイコンタイトル用
--------------------------*/
.leaf2Title{
	position: relative;
	padding: 5px 10px;
	border-bottom: 2px solid #64293d;
	border-top: 1px solid #e3ded4;
	color: #64293d;
	font-size: 1.8rem;
	font-weight:bold;
	line-height: 1.3;
	background-color: #f6ecec;
	background: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#f6ecec));
	background:                  -webkit-linear-gradient(top,#ffffff,#f6ecec);
	background:                     -moz-linear-gradient(top,#ffffff,#f6ecec);
	background:                          linear-gradient(top,#ffffff,#f6ecec); 
}

.leaf2Title.icon{
	padding-left: 30px;
}

.leaf2Title > i{
    position: absolute;
    top: 17px;
    left: 6px;
    margin-right: 4px;
}

/*--------------------------
新◎アイコンタイトル用
--------------------------*/
.circle2Title{
	position: relative;
	padding: 5px 10px;
	color: #64293d;
	font-size: 1.8rem;
	font-weight:bold;
	line-height: 1.3;
}

.circle2Title.icon{
	padding-left: 25px;
}

.circle2Title > i{
    position: absolute;
    top: 17px;
    left: 6px;
    margin-right: 4px;
}



/*--------------------------
ご注文はこちらから（CP用）
--------------------------*/
.order_area{
	padding:0 10px 0px;
}

.order_area > div{
	padding:10px;
	background-color:#fff5fd;
	-moz-box-shadow: inset 0px 0px 20px #feb6ff;
	-webkit-box-shadow: inset 0px 0px 20px #feb6ff;	
	box-shadow: inset 0px 0px 20px #feb6ff;
}

.order_area a{
	display:block;
	width:100%;
	text-align:center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: inset 0px 0px 20px #e77c52;
	-webkit-box-shadow: inset 0px 0px 20px #e77c52;
	box-shadow: inset 0px 0px 20px #e77c52;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f1a98b', endColorstr = '#e77031');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f1a98b', endColorstr = '#e77031')";
	background-image: -moz-linear-gradient(top, #f1a98b, #e77031);
	background-image: -ms-linear-gradient(top, #f1a98b, #e77031);
	background-image: -o-linear-gradient(top, #f1a98b, #e77031);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#f1a98b), to(#e77031));
	background-image: -webkit-linear-gradient(top, #f1a98b, #e77031);
	background-image: linear-gradient(top, #f1a98b, #e77031);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.order_area a img{
	margin:10px 0;
	width:70%;
	height:auto;
}

/*--------------------------
期間限定バー
--------------------------*/
.kikan_gentei{
	width:100%;
	text-align:center;
	padding:10px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#b09270', endColorstr = '#82521d');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#b09270', endColorstr = '#82521d')";
	background-image: -moz-linear-gradient(top, #b09270, #82521d);
	background-image: -ms-linear-gradient(top, #b09270, #82521d);
	background-image: -o-linear-gradient(top, #b09270, #82521d);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#b09270), to(#82521d));
	background-image: -webkit-linear-gradient(top, #b09270, #82521d);
	background-image: linear-gradient(top, #b09270, #82521d);
}

.kikan_gentei p{
	font-size:1.8rem;
	font-weight:bold;
	color:#FFFFFF;
}

.kikan_gentei span{
	font-weight:bold;
	color:#feff03;
}

.kikan_gentei2{
	padding:10px 10px 0 10px;
}

.kikan_gentei2 div{
	display:block;
	border-radius:5px;
	text-align:center;
	background-color:#EBBDBE;
	padding:10px 0;
}

.kikan_gentei2 p{
	font-weight:bold;
	color:#65273c;
	font-size:1.6rem;
	
}

/*--------------------------
非売品
--------------------------*/
.hibaihin{
	width:57px;
	height:auto;
}

/*--------------------------
TOP閉じるボタン
--------------------------*/
.pageTopBtn a {
	display: block;
	width: 80px;
	height: 28px;
	position:absolute;
	top:5px;
	right:10px;
	background-color: #65293d;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#d5d5d5), to(#b7b7b7));
	background: -webkit-linear-gradient(top, #d5d5d5, #b7b7b7);
	background: -moz-linear-gradient(top, #d5d5d5, #b7b7b7);
	background: linear-gradient(top, #d5d5d5, #b7b7b7);
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 1.2rem;
	line-height: 28px;
	white-space: nowrap;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
	text-decoration: none;
}

/*-----------------------------------
電話番号ボタン用
-----------------------------------*/
.tel_area{
	text-align:center;
	padding:10px 0 0 0;
}

.tel_area p:nth-of-type(1){
	font-weight:bold;
	font-size:1.6rem;
	color:#65273c;
}

.tel_area p:nth-of-type(2){
	font-size:1.6rem;
	margin-bottom:5px;
}

.tel_area p:nth-of-type(3){
	font-size:1.4rem;
}

