@charset "shift_jis";
/* ----------------------------
  RESET
------------------------------ */
/* html5doctor.com Reset Stylesheet v1.4 2009-07-27 Author: Richard Clark - http://richclarkdesign.com */
html, body, div, span, object, iframe, embed, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
border-box;
	font-weight: normal;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1rem;
	line-height: 1;
}
article, aside, dialog, figure, footer, header, hgroup, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
ul, ol {
	list-style: none;
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th, td {
	text-align: left;
	font-weight: normal;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	padding: 0;
}
textarea, input[type=text], input[type=password], input[type=tel], input[type=email] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
border-box;
}
input, select, textarea, button {
	vertical-align: middle;
}
input, textarea {
	font-size: 1.3rem;
}
select {
	margin: inherit;
}
img {
	vertical-align: bottom;
}
a, a:link, a:visited, a:hover, a:active {
	text-decoration: unserline;
}
a img {
	border: 0;
	outline: 0;
}
span {
	display: inline-block;
}
/* ----------------------------
  CLEAR FIX
------------------------------ */
.clearfix {
*zoom:1;
}
.clearfix:before, .clearfix:after {
	display: block;
	content: "";
}
.clearfix:after {
	clear: both;
}
/* ----------------------------
  STYLE CSS
------------------------------ */

* {
	font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
	-webkit-text-size-adjust: none;
}
body {
	background: url(../images/common/bg_footer.png) no-repeat left bottom;
	-webkit-background-size: 320px auto;
	-moz-background-size: 320px auto;
	background-size: 320px auto;
	font-size: 1.4rem;
	line-height: 1.4;
	color: #535353;
}
p {
	font-size: 1.4rem;
}
address {
	font-size: 1.6rem;
	font-style: normal;
}
.active {
	display: block;
}
.thumbnail {
	overflow: hidden;
}
.thumbnail > img {
	width: 100%;
	height: auto;
}
h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
/* ------------------------------
 Form Element
 ------------------------------- */
input[type=radio]{
  width: 15px;
  margin: 6px 0;
  vertical-align: baseline;
}
  input[type=radio] + label{
    margin: 0 0 0px 5px;
  }
input[type=tel],input[type=text]{
  padding: 5px 6px;
  border: 1px solid #999;
}
input[type=tel]:focus,input[type=text]:focus{
  background-color: lightyellow;
}
input[type=checkbox]{
  margin: 6px 0;
  vertical-align: baseline;
}
  input[type=checkbox] + label{
    margin: 0 0 0 4px;
  }

select{
  font-size: 1.7rem;
}
/* ------------------------------
 icon
 ------------------------------- */
i{
  display: inline-block;
  width: 10px;height: 10px;
  background: no-repeat 0 0 transparent url(../images/common/sprite.png);
  -webkit-background-size: 250px auto;
     -moz-background-size: 250px auto;
          background-size: 250px auto;
  vertical-align:middle;
}
.iconFirm i{
  background-color: #ccc;
}

/* 16 x 16 */
i.leaf{width:16px;height: 20px;background-position: 0 0;}

/* 13 x 13 */
i.circle{width:13px;height:13px;background-position: -24px 0;}
i.arD01{width:13px;height:13px;background-position: 2px -23px;}
i.arD02{width:13px;height:13px;background-position: -22px -23px;}
i.arR01{width:13px;height:13px;background-position: -9px -23px;}
i.arR01{width:13px;height:13px;background-position: -9px -23px;}
i.arR01a{width:13px;height:13px;background-position: -9px -36px;}

/* 10 x 10 */
i.arR02{background-position: -34px -24px;}
i.arR03{background-position: -50px -24px;}
i.arR03.selected,.active .arR03{background-position: -75px -24px;}
i.arR03.desable{background-position: -62px -24px;}
i.arR04{background-position: -90px -24px;}
i.arR05{background-position: -102px -24px;}
i.arR06{background-position: -62px -41px;}
i.arR07{background-position: -50px -41px;}

/* Other */
i.cart{width:26px;height: 26px;background-position: 0 -174px;}
  .off > i.cart{width:26px;height: 26px;background-position: -30px -174px;}
i.cartS{width:20px;height: 20px;background-position: -70px -174px;}
i.listdisc{width: 7px;height: 7px;background-position: 0 -124px;}
i.newwin{width: 14px;height: 14px;background-position: 0 -148px;}
i.dl{width: 14px;height: 14px;background-position: -26px -148px;}
i.exclamation{width: 34px;height: 30px;background-position: -217px -75px;}
i.acc{width: 30px;height: 30px;background-position: -69px -75px;}
  .off i.acc{width: 30px;height: 30px;background-position: -104px -75px;}

i.slideDisc{width:12px;height:12px;background-position: 0px -50px;}
.selected i.slideDisc{background-position: -19px -50px;}

.check{width: 20px;height: 20px;background-position: 0 -75px;}
 .off > .check.checked{background-position: -25px -75px;}
.check.green{background-position: 0 -100px;}
.check.green.checked{background-position: -25px -100px;}

.pochi{width: 10px;height: 7px;background-position: 0 -125px;}

/* ------------------------------
 Header
 ------------------------------- */
header.page {
	position: relative;
	border-top: 3px solid #825363;
	height: 40px;
	padding: 0 6px;
	border-bottom: 1px solid #b88887;
	color: #64293d;
	font-size: 1.5rem;
	white-space: nowrap;
}
.logo {
	display: inline-block;
	width: 22%;
	height: 18px;
	margin: 10px 0 0 0;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	background: url(../images/common/sprite.png) no-repeat 0 -232px;
	-webkit-background-size: 250px;
	-moz-background-size: 250px;
	background-size: 250px;
	vertical-align: top;
}
.inquiry {
	display: inline-block;
	width: 40%;
	margin: 8px 0 0 0;
}
.inquiry a {
	display: block;
	line-height: 1;
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #e2d9d9));
	background: -webkit-linear-gradient(top, #f6f6f6 0%, #e2d9d9 100%);
	background: -moz-linear-gradient(top, #f6f6f6 0%, #e2d9d9 100%);
	background: linear-gradient(to bottom, #f6f6f6 0%, #e2d9d9 100%);
	overflow: hidden;
	font-size: 1.1rem;
	color: #734;
	border : 1px solid #734;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 4px 0;
	text-align: center;
	text-decoration:none;
}
.tel {
	display: inline-block;
	width: 38%;
	height: 25px;
	line-height: 25px;
}
.tel a {
	background: url(../images/common/tel_info.png);
	background-repeat: no-repeat;
	background-position: top right;
	-webkit-background-size: 112px 25px;
	-moz-background-size: 112px 25px;
	background-size: 112px 25px;
	display: block;
	font-size: 1.2rem;
	color: #000;
	margin: 1px 0 0 4px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}
.breadCrumbs {
	margin: 6px 0px 4px 4px;
	color: #64293d;
}
.breadCrumbs a {
	display: inline-block;
	color: #64293d;
	text-decoration: underline;
	padding-right: 0;
	font-size:1.1rem;
	line-height:2;
}
.breadCrumbs span.thisPage {
	font-weight: bold;
	font-size:1.1rem;
	line-height:2;
}
.breadCrumbs span.next {
	font-size:1.1rem;
	line-height:2;
}
/* ------------------------------
 Heading Style
 ------------------------------- */
.hs0{
  min-height: 31px;
  font-size: 1.8rem;
  font-weight:bold;
  color: #64293d;
  line-height: 30px;
  background: url(../images/common/bg_contents_h1.png) no-repeat right bottom;
  -webkit-background-size: 320px 52px;
     -moz-background-size: 320px 52px;
          background-size: 320px 52px;
  border-bottom: 1px solid #e3ded4;
  border-top: 1px solid #e3ded4;
}
.hs1{
  padding: 0 10px;
  min-height: 31px;
  font-size: 1.8rem;
  color: #64293d;
  line-height: 26px;
  background: url(../images/common/bg_contents_h1.png) no-repeat right bottom;
  -webkit-background-size: 320px 52px;
     -moz-background-size: 320px 52px;
          background-size: 320px 52px;
  border-bottom: 1px solid #e3ded4;
}

.hs2{
  position: relative;
  padding: 5px 10px;
  border-bottom: 2px solid #64293d;
  border-top: 1px solid #e3ded4;
  color: #64293d;
  font-size: 1.8rem;
  font-weight:bold;
  line-height: 1.3;
  background-color: #f6ecec;
  background: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#f6ecec));
  background:                  -webkit-linear-gradient(top,#ffffff,#f6ecec);
  background:                     -moz-linear-gradient(top,#ffffff,#f6ecec);
  background:                          linear-gradient(top,#ffffff,#f6ecec); 
}
  .hs2.icon{
    padding-left: 30px;
  }
  .hs2 > i{
    position: absolute;
    top: 7px;
    left: 6px;
    margin-right: 4px;
  }

i{
  display: inline-block;
  width: 10px;height: 10px;
  background: no-repeat 0 0 transparent url(../../../sp/images/common/sprite.png);
  -webkit-background-size: 250px auto;
     -moz-background-size: 250px auto;
          background-size: 250px auto;
  vertical-align:middle;
}

/* 16 x 16 */
i.leaf{width:16px;height: 20px;background-position: 0 0;}


.boxoffsetLR  {padding: 0px 10px;}
.fBold{ font-weight:bold; }
.top_image100{ width:100%; height:auto; }
.clear_box{	clear:both; }
.boxoffset10{ margin:10px; }

/* ------------------------------
 Contents > .Accordion
 ------------------------------- */
.toiawase{
  vertical-align: middle;
}
.toiawase.withIcon{
  padding: 5px 10px 5px 50px;
  min-height: 30px;
  line-height: 30px;
}
.toiawase.withIcon_default{
  padding: 5px 10px 5px 10px;
  min-height: 30px;
  line-height: 30px;
}

  .toiawase > i{
/*    position: absolute;
    top: 5px;
    left: 10px;*/
  }

.toiawase.withIconCenter{
  padding: 5px 10px 5px 10px;
}

.bc_f1e3e3{
	background: #f1e3e3;
}

/* ------------------------------
 Button
 (#top #bottom)
 ------------------------------- */
.btn{
  position: relative;
  display: inline-block;
  height: 32px;
  padding: 0 12px;
  background-color: #65293d;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#c17c93),to(#af5974));
  background-image: -webkit-linear-gradient(top,#c17c93,#af5974);
  background-image: -moz-linear-gradient(top,#c17c93,#af5974);
  background-image: linear-gradient(top,#c17c93,#af5974);
  border: none;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  font-size: 1.4rem;
  line-height: 32px;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0,0,0, .15);
}

.btn > span{
  line-height: 30px;
}
.btn > i{
  margin-right: 4px;
}

/* ------------------------------
 Layout
 ------------------------------- */
.flLeft {float: left!important;}
.flRight{float: right!important;}

.vAT{vertical-align: top!important;}
.vAB{vertical-align: bottom!important;}
.vAM{vertical-align: middle!important;}
.vABa{vertical-align: baseline!important;}

/* ------------------------------
 Layout > Box
 ------------------------------- */
.borderBox{border: 1px solid #B88887!important;}
.borderBoxTop{border-top: 1px solid #B88887!important;}
.borderBoxBottom{border-bottom: 1px solid #B88887!important;}
.borderBoxTopBottom{border-top: 1px solid #B88887!important;border-bottom: 1px solid #B88887!important;}

.borderBoxTopDot{border-top: 1px dotted #B88887!important;}
.borderBoxBottomDot{border-bottom: 1px dotted #B88887!important;}
.borderBox_alert{border: 1px solid #d80c18!important;
background-color:#fbeacb;}

 
.offset  {padding: 0 0 0 10px;}
.offset12{padding: 0 0 0 12px;}
.offset14{padding: 0 0 0 14px;}
.offset15{padding: 0 0 0 15px;}
.offset16{padding: 0 0 0 16px;}
.offset18{padding: 0 0 0 18px;}
.offset20{padding: 0 0 0 20px;}
.offset24{padding: 0 0 0 24px;}
.offset25{padding: 0 0 0 25px;}
 
.onset  {margin: 0 0 0 10px;}
.onset12{margin: 0 0 0 12px;}
.onset14{margin: 0 0 0 14px;}
.onset15{margin: 0 0 0 15px;}
.onset16{margin: 0 0 0 16px;}
.onset18{margin: 0 0 0 18px;}
.onset20{margin: 0 0 0 20px;}

.boxoffset79 {padding: 7px 9px;}
.boxoffset  {padding: 10px 10px;}
.boxoffset12{padding: 10px 12px;}
.boxoffset14{padding: 10px 14px;}
.boxoffset15{padding: 10px 15px;}
.boxoffset16{padding: 10px 16px;}
.boxoffset18{padding: 10px 18px;}
.boxoffset20{padding: 10px 20px;}

.boxoffsetLR  {padding: 0px 10px;}
.boxoffsetT  {padding: 10px 0px 0px;}

.boxoffset.error{
  display: table;
  width: 100%;
  background: #f27526;
}
  .boxoffset.error .mark{
    display: table-cell;
    width: 34px;
    padding: 0 15px 0 5px;
    vertical-align:middle;
  }
  .boxoffset.error .alertTxt{
    display:table-cell;
    color: #fff;
  }

[class^=boxo].blue{background: #f3f8f8;}
[class^=boxo].pink{background: #f4e9e9;}
[class^=boxo].gray{background: #f7f7f1;}

.boxonset  {margin: 0 10px;}
.boxonset12{margin: 0 12px;}
.boxonset14{margin: 0 14px;}
.boxonset15{margin: 0 15px;}
.boxonset16{margin: 0 16px;}
.boxonset18{margin: 0 18px;}
.boxonset20{margin: 0 20px;}

.boxonset_tb  {margin: 10px 0;}
.boxonset12_tb{margin: 12px 0;}
.boxonset14_tb{margin: 14px 0;}
.boxonset15_tb{margin: 15px 0;}
.boxonset16_tb{margin: 16px 0;}
.boxonset18_tb{margin: 18px 0;}
.boxonset20_tb{margin: 20px 0;}

.boxonset_all{margin:10px;}

.mB0 {margin-bottom: 0px !important;}
.mB5 {margin-bottom: 5px !important;}
.mB10{margin-bottom: 10px!important;}
.mB15{margin-bottom: 15px!important;}
.mB20{margin-bottom: 20px!important;}
.mB25{margin-bottom: 25px!important;}
.mB30{margin-bottom: 30px!important;}
.mB35{margin-bottom: 35px!important;}
.mB40{margin-bottom: 40px!important;}
.mB45{margin-bottom: 45px!important;}
.mB50{margin-bottom: 50px!important;}
.mB55{margin-bottom: 55px!important;}

.mT0 {margin-top: 0px !important;}
.mT5 {margin-top: 5px !important;}
.mT10{margin-top: 10px!important;}
.mT15{margin-top: 15px!important;}
.mT20{margin-top: 20px!important;}
.mT25{margin-top: 25px!important;}
.mT30{margin-top: 30px!important;}
.mT35{margin-top: 35px!important;}
.mT40{margin-top: 40px!important;}
.mT45{margin-top: 45px!important;}
.mT50{margin-top: 50px!important;}
.mT55{margin-top: 55px!important;}

.mR0 {margin-right: 0px !important;}
.mR5 {margin-right: 5px !important;}
.mR6 {margin-right: 6px !important;}
.mR10{margin-right: 10px!important;}
.mR15{margin-right: 15px!important;}
.mR20{margin-right: 20px!important;}
.mR25{margin-right: 25px!important;}
.mR30{margin-right: 30px!important;}
.mR35{margin-right: 35px!important;}
.mR40{margin-right: 40px!important;}
.mR45{margin-right: 45px!important;}
.mR50{margin-right: 50px!important;}
.mR55{margin-right: 55px!important;}

.mL0 {margin-left: 0px !important;}
.mL5 {margin-left: 5px !important;}
.mL10{margin-left: 10px!important;}
.mL15{margin-left: 15px!important;}
.mL20{margin-left: 20px!important;}
.mL25{margin-left: 25px!important;}
.mL30{margin-left: 30px!important;}
.mL35{margin-left: 35px!important;}
.mL40{margin-left: 40px!important;}
.mL45{margin-left: 45px!important;}
.mL50{margin-left: 50px!important;}
.mL55{margin-left: 55px!important;}

.pB0 {padding-bottom: 0px !important;}
.pB5 {padding-bottom: 5px !important;}
.pB10{padding-bottom: 10px!important;}
.pB15{padding-bottom: 15px!important;}
.pB20{padding-bottom: 20px!important;}
.pB25{padding-bottom: 25px!important;}
.pB30{padding-bottom: 30px!important;}
.pB35{padding-bottom: 35px!important;}
.pB40{padding-bottom: 40px!important;}
.pB45{padding-bottom: 45px!important;}
.pB50{padding-bottom: 50px!important;}
.pB55{padding-bottom: 55px!important;}

.pT0 {padding-top: 0px !important;}
.pT5 {padding-top: 5px !important;}
.pT10{padding-top: 10px!important;}
.pT15{padding-top: 15px!important;}
.pT20{padding-top: 20px!important;}
.pT25{padding-top: 25px!important;}
.pT30{padding-top: 30px!important;}
.pT35{padding-top: 35px!important;}
.pT40{padding-top: 40px!important;}
.pT45{padding-top: 45px!important;}
.pT50{padding-top: 50px!important;}
.pT55{padding-top: 55px!important;}

.pR0 {padding-right: 0px !important;}
.pR5 {padding-right: 5px !important;}
.pR6 {padding-right: 6px !important;}
.pR10{padding-right: 10px!important;}
.pR15{padding-right: 15px!important;}
.pR20{padding-right: 20px!important;}
.pR25{padding-right: 25px!important;}
.pR30{padding-right: 30px!important;}
.pR35{padding-right: 35px!important;}
.pR40{padding-right: 40px!important;}
.pR45{padding-right: 45px!important;}
.pR50{padding-right: 50px!important;}
.pR55{padding-right: 55px!important;}

.pL0 {padding-left: 0px !important;}
.pL5 {padding-left: 5px !important;}
.pL10{padding-left: 10px!important;}
.pL15{padding-left: 15px!important;}
.pL20{padding-left: 20px!important;}
.pL25{padding-left: 25px!important;}
.pL30{padding-left: 30px!important;}
.pL35{padding-left: 35px!important;}
.pL40{padding-left: 40px!important;}
.pL45{padding-left: 45px!important;}
.pL50{padding-left: 50px!important;}
.pL55{padding-left: 55px!important;}

/* -----------------------------
 Font
 ------------------------------- */
.fcRed{color: #dc417b!important;} 
.fcGray{color: #535353!important;}
.fcPink{color: #de407b!important;}
.fcLPink{color: #f37fb0!important;}
.fcOrange{color: #f67824!important;}
.fcGreen{color: #2aa241!important;}
.fcPurple{color: #65273c!important;}
.fcLPurple{color: #923CC9!important;}
.fcBrown{color: #975b27!important;}
.fcAlert{color: #d80c18!important;}

.txtAC{text-align: center;!important;}
.txtAR{text-align: right;!important;}
.txtAL{text-align: left;!important;}

.fsS{font-size: 1.4rem!important;}
.fsM{font-size: 1.6rem!important;}
.fsL{font-size: 1.8rem!important;}

.fsM_br{font-size: 1.6rem!important; line-height:2.0rem;}

.fBold{
	font-weight:bold;
}
.ftAlert {
	font-size: 1.6rem;
	background-color: #d80c18;
	color: #fff;
	margin: 2px;
	padding: 3px 6px;
}
/*-----------------------------------
module
-----------------------------------*/
.noBorder{border: none !important;}
.noBorderTop{border-top: none !important;}
.noBorderRight{border-right: none !important;}
.noBorderBottom{border-bottom: none !important;}
.noBorderLeft{border-left: none !important;}

/*-----------------------------------
ボディ
-----------------------------------*/
h3.userItem {
	margin: 0;
	padding: 5px 10px;
	background: #f1e3e3;
	font-size: 1.6rem;
	font-weight: bold;
	color: #333;
}
.loginPart {
	padding: 0px 10px 1px 10px;
}
input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
	border: 1px solid #999;
	margin: 4px 4px;
	padding: 5px 1px;
}
input[type="radio"], input[type="checkbox"] {
	vertical-align: baseline;
}
.boxWidthFull {
	width: 98%;
	border: 1px solid #999;
}
.btnSubmit1 {
	display: block;
	background: #bc8689;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8554e),  color-stop(100%, #e30000));
	width: 100%;
	border: 1px solid #fb3200;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height: 40px;
	line-height: 40px;
	font-size: 1.6rem;
	font-weight: bold;
	color: #fff;
	margin: 10px auto;
	text-align: center;
	text-decoration:none;
}
.btnSubmit2 {
	display: block;
	background: #faeef2;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #faeef2));
	width: 100%;
	border: 1px solid #f77ea4;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height: 40px;
	line-height: 40px;
	font-size: 1.4rem;
	font-weight: bold;
	color: #cc3d6d;
	margin: 10px auto;
	text-align: center;
	text-decoration:none;
}
.btnSubmit3 {
	display: block;
	background: #d30052;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e96490), color-stop(100%, #d30052));
	width: 100%;
	border: 1px solid #d30052;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height: 40px;
	line-height: 40px;
	font-size: 1.4rem;
	font-weight: bold;
	color: #ffffff;
	margin: 10px auto;
	text-align: center;
	text-decoration:none;
}
/* ボタン追加 20161222 */
.btnSubmit4 {
	display: block;
	background: #d30052;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e96490), color-stop(100%, #d30052));
	width: 100%;
	border: 1px solid #d30052;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height: 62px;
	line-height: 62px;
	font-size: 1.8rem;
	font-weight: bold;
	color: #fff;
	margin: 10px auto;
	text-align: center;
	text-decoration:none;
}
.btnSubmit5 {
	display: block;
	background: #bc8689;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8554e),  color-stop(100%, #e30000));
	width: 100%;
	border: 1px solid #fb3200;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height: 62px;
	line-height: 62px;
	font-size: 1.8rem;
	font-weight: bold;
	color: #fff;
	margin: 10px auto;
	text-align: center;
	text-decoration:none;
}
.btnSubmit6 {
	display: block;
	background: #db7100;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3a365),  color-stop(100%, #db7100));
	width: 100%;
	border: 1px solid #f3a365;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height: 40px;
	line-height: 40px;
	font-size: 1.4rem;
	font-weight: bold;
	color: #ffffff;
	margin: 10px auto;
	text-align: center;
	text-decoration:none;
}
.btnSubmit7 {
	display: block;
	background: #db7100;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3a365),  color-stop(100%, #db7100));
	width: 100%;
	border: 1px solid #f3a365;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	height: 62px;
	line-height: 62px;
	font-size: 1.8rem;
	font-weight: bold;
	color: #fff;
	margin: 10px auto;
	text-align: center;
	text-decoration:none;
}

/* --------------------------- */
.domoTopLink {
	display: inline-block;
	width: 55%;
	padding: 6px 4px 6px 10px;
}
.pageTopLink {
	display: inline-block;
	width: 43%;
	padding: 6px 10px 6px 4px;
}
.domoTopLink > a {
	display: block;
	width: 100%;
	height: 28px;
	background-color: #65293d;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#c17c93), to(#af5974));
	background: -webkit-linear-gradient(top, #c17c93, #af5974);
	background: -moz-linear-gradient(top, #c17c93, #af5974);
	background: linear-gradient(top, #c17c93, #af5974);
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 1.2rem;
	line-height: 28px;
	white-space: nowrap;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
	text-decoration: none;
}
.pageTopLink a {
	display: block;
	width: 100%;
	height: 28px;
	background-color: #65293d;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#d5d5d5), to(#b7b7b7));
	background: -webkit-linear-gradient(top, #d5d5d5, #b7b7b7);
	background: -moz-linear-gradient(top, #d5d5d5, #b7b7b7);
	background: linear-gradient(top, #d5d5d5, #b7b7b7);
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 1.2rem;
	line-height: 28px;
	white-space: nowrap;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
	text-decoration: none;
}
.footer {
	color: #666;
	text-align: center;
	font-size: 1.2rem;
	line-height: 16px;
	padding: 10px 0;
	border-top: 1px solid #cec1c1;
}
/* ------------------------------
 Smart Page
 ------------------------------- */
.checkbox{
	text-height:auto;
}
/*---------------------------
新ラジオボタン
上下サイズが変わっても中央配置
---------------------------*/
div.radio_line {
    width: 100%;
	padding:0px;
	margin:0px;
}

div.radio_line .RLtitle {
    display: table-cell;
    vertical-align:middle;
}

div.radio_line .RLnomal {
    display: table-cell;
    vertical-align:text-bottom;
}

div.radio_line div.radio_icon {
    width: 20px;
}

/* IE 6 */
* html div.radio_line div {
    display: inline;
    zoom: 1;
}

/* IE 7 */
*:first-child+html div.radio_line div {
    display: inline;
    zoom: 1;
}
/*--------------------------
問い合わせボタン
--------------------------*/
a.toiawase{
  display:block;
  width:100%;
  padding:10px 30px 10px 10px;
  background: url(../images/common/yajirushi_ku.png) no-repeat right center;
  -webkit-background-size: 23px 19px;
     -moz-background-size: 23px 19px;
          background-size: 23px 19px;
  border-top: 1px dotted #B88887;
  text-align:left;
  text-decoration:none;
  color:#535353!important;
}
/*--------------------------
TOPネット会員登録へのリンク
--------------------------*/
p.netid_member{
	text-align:right;
	color:#975b27;
}
.to_shousai{
	text-align:right;
	margin-bottom:10px;
}

.tCenter{
	text-align:center;
}
.btn_form{
	text-align:center;
	width:145px;
	height:38px;	
}
/*--------------------------
新フッターボタン
--------------------------*/
.domoTopLink_box {
	width: 60%;
	float: left;
}
.pageTopLink_box {
	width: 40%;
	float: left;
}
.domoTopLink_h {
	display: inline-block;
	width: 100%;
	padding: 6px 4px 6px 0px;
}
.pageTopLink_h {
	display: inline-block;
	width: 100%;
	padding: 6px 0px 6px 4px;
}
.domoTopLink_h > a {
	display: block;
	width: 100%;
	height: 28px;
	background-color: #65293d;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#c17c93), to(#af5974));
	background: -webkit-linear-gradient(top, #c17c93, #af5974);
	background: -moz-linear-gradient(top, #c17c93, #af5974);
	background: linear-gradient(top, #c17c93, #af5974);
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 1.2rem;
	line-height: 28px;
	white-space: nowrap;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
	text-decoration: none;
}
.pageTopLink_h a {
	display: block;
	width: 100%;
	height: 28px;
	background-color: #65293d;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#d5d5d5), to(#b7b7b7));
	background: -webkit-linear-gradient(top, #d5d5d5, #b7b7b7);
	background: -moz-linear-gradient(top, #d5d5d5, #b7b7b7);
	background: linear-gradient(top, #d5d5d5, #b7b7b7);
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 1.2rem;
	line-height: 28px;
	white-space: nowrap;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
	text-decoration: none;
}
.clear_box{
	clear:both;
}
/*--------------------------
フリーダイヤルボタン用
--------------------------*/
.btn{
  position: relative;
  display: inline-block;
  height: 32px;
  padding: 0 12px;
  background-color: #65293d;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#c17c93),to(#af5974));
  background-image: -webkit-linear-gradient(top,#c17c93,#af5974);
  background-image: -moz-linear-gradient(top,#c17c93,#af5974);
  background-image: linear-gradient(top,#c17c93,#af5974);
  border: none;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  font-size: 1.4rem;
  line-height: 32px;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0,0,0, .15);
}
.btnTel{
  height: auto;
  padding: 3px 20px;
  width:60%;
  background-color: #efe9de;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#efe9de));
  background-image:                  -webkit-linear-gradient(top,#fff,#efe9de);
  background-image:                     -moz-linear-gradient(top,#fff,#efe9de);
  background-image:                          linear-gradient(top,#fff,#efe9de);
  border: 3px solid #e6cdb9;
  color: #9a5a25;
  font-size: 1.6rem;
  text-shadow: none;
}
.image_size{
	width:100%;
}
.telComment{
	display:block;
	width:100%;
	padding:10px;
	margin-top:10px;
	background-color:#f0e1e2;
}
#freedial{
	display:block;
}
#freedial p{
	display:block;
	padding:10px;
	border-radius:5px;
}
.btn_a{
	text-decoration: none;
}

/* アコーディオン 追加 20161222 
------------------------------------- */
/* ------------------------------
 Contents > .Accordion
 ------------------------------- */
.accordionKey{
  position: relative;
  vertical-align: middle;
}
.accordionKey.withIcon{
  padding: 5px 10px 5px 50px;
  min-height: 30px;
  line-height: 30px;
}
  .accordionKey > i{
    position: absolute;
    top: 5px;
    left: 10px;
  }
.accordionBody{}
.accordionBody.active{
  display: block;
}

/* 見出し調整 */

.hs3{
  background: none !important;
  font-size: 1.6rem;
  color: #333333;
		border-bottom:2px solid #64293d;
}