@charset "shift_jis";
/* ----------------------------
  RESET
------------------------------ */
/* html5doctor.com Reset Stylesheet v1.4 2009-07-27 Author: Richard Clark - http://richclarkdesign.com */
html,body,div,span,object,iframe,embed,h1,h2,h3,h4,h5,h6,p,a,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,
b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,
hgroup,menu,nav,section,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;
-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border-box;font-weight:normal;}
html{font-size:62.5%;}body{font-size:1rem;line-height:1;}article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block;}
blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
ul,ol{list-style:none;}ins{background-color:#ff9;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}th,td{text-align:left;font-weight:normal;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;padding:0;}
textarea,input[type=text],input[type=password],input[type=tel],input[type=mail]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;border-box;}
input,select,textarea,button{vertical-align:middle;}input,textarea{font-size:1.3rem;}select{margin:inherit;}
img{vertical-align:bottom;}
a,a:link,a:visited,a:hover,a:active{text-decoration:unserline;}a img{border:0;outline:0;}
span{display:inline-block;}
/* ----------------------------
  CLEAR FIX
------------------------------ */
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:block;content: "";}.clearfix:after{clear:both;}

/* ----------------------------
  STYLE CSS
------------------------------ */

* {
	font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
	-webkit-text-size-adjust: none;
}

body{
	height:auto;
  font-size: 1.6rem;
  line-height: 1.3;
  color: #535353;
}
p{
  font-size: 1.6rem;
}
.copyright p{
	font-size: 1.4rem !important;
}
address{
  font-size: 1.6rem;
  font-style: normal;
}
.active{
 display: block;
}

.thumbnail{
  overflow: hidden;
}
  .thumbnail > img{
    width: 100%;
    height: auto;
  }

h1{}
h2{}
h3{}
h4{}
h5{}

/* ------------------------------
 Form Element
 ------------------------------- */
input[type=radio]{
  width: 15px;
  margin: 6px 0;
  vertical-align: baseline;
}
  input[type=radio] + label{
    margin: 0 0 0px 5px;
  }
input[type=tel],input[type=text]{
  padding: 5px 6px;
  border: 1px solid #999;
}
input[type=tel]:focus,input[type=text]:focus{
  background-color: lightyellow;
}
input[type=checkbox]{
  margin: 6px 0;
  vertical-align: baseline;
}
  input[type=checkbox] + label{
    margin: 0 0 0 4px;
  }

select{
  font-size: 1.7rem;
}
.widthS{width:30% !important;}
.widthM{width:50% !important;}
.widthL{width:70% !important;}
.widthF{width:100% !important;}

.col2 > li{
  float: left;
  width: 50%;
}

/* ------------------------------
 List Style
 ------------------------------- */
.list_disc{
  list-style: disc;
  padding-left: 14px;
}

.list_come{
  padding-left: 24px;
}
  .list_come > li{}
  .list_come > li > span{
    width: 24px;
    margin-left: -24px;
  }
.list_deci{
  list-style: decimal;
  padding-left: 16px;
}
  .list_deci li{}

.list_inline{}
  .list_inline li{
    display: inline;
  }

.thumb_list{}
  .thumb_list .thumb{
    float: left;
    width: auto;
    margin-right: 14px;
  }
  /* 個別設定 */
  .thumb_list.credit .thumb{
    width: 70px;
    margin: 0;
  }
  .thumb_list .thumb > img{
    width: 100%;
    margin-bottom: 5px;
  }
  .thumb_list > ul{
    float: left;
    width: 75%;
  }

/* ------------------------------
 icon
 ------------------------------- */
i{
  display: inline-block;
  width: 10px;height: 10px;
  background: no-repeat 0 0 transparent url(../images/common/sprite.png);
  -webkit-background-size: 250px auto;
     -moz-background-size: 250px auto;
          background-size: 250px auto;
  vertical-align: baseline;
}
.iconFirm i{
  background-color: #ccc;
}

/* 16 x 16 */
i.leaf{width:16px;height: 20px;background-position: 0 0;}

/* 13 x 13 */
i.circle{width:13px;height:13px;background-position: -24px 0;}
i.arD01{width:13px;height:13px;background-position: 2px -23px;}
i.arD02{width:13px;height:13px;background-position: -22px -23px;}
i.arR01{width:13px;height:13px;background-position: -9px -23px;}

/* 10 x 10 */
i.arR02{background-position: -34px -24px;}
i.arR03{background-position: -50px -24px;}
i.arR03.selected,.active .arR03{background-position: -75px -24px;}
i.arR03.desable{background-position: -62px -24px;}
i.arR04{background-position: -90px -24px;}
i.arR05{background-position: -102px -24px;}
i.arR06{background-position: -62px -41px;}
i.arR07{background-position: -50px -41px;}

/* Other */
i.cart{width:26px;height: 26px;background-position: 0 -174px;}
  .off > i.cart{width:26px;height: 26px;background-position: -30px -174px;}
i.cartS{width:20px;height: 20px;background-position: -70px -174px;}
i.listdisc{width: 7px;height: 7px;background-position: 0 -124px;}
i.newwin{width: 14px;height: 14px;background-position: 0 -148px;}
i.dl{width: 14px;height: 14px;background-position: -26px -148px;}
i.exclamation{width: 34px;height: 30px;background-position: -217px -75px;}
i.acc{width: 30px;height: 30px;background-position: -69px -75px;}
  .off > i.acc{width: 30px;height: 30px;background-position: -104px -75px;}

i.slideDisc{width:12px;height:12px;background-position: 0px -50px;}
.selected i.slideDisc{background-position: -19px -50px;}

.check{width: 20px;height: 20px;background-position: 0 -75px;}
.check.checked{background-position: -25px -75px;}
.check.green{background-position: 0 -100px;}
.check.green.checked{background-position: -25px -100px;}


/* ------------------------------
 Header
 ------------------------------- */
header.page{
  position: relative;
  border-top: 3px solid #825363;
} 
  header.page h1{
    height: 39px;
    padding: 0 10px;
    border-bottom: 1px solid #b88887;
    color: #64293d;
    font-size: 1.5rem;
    line-height: 39px;
    white-space: nowrap;
  }
  header.page h1 .logo{
    display: inline-block;
    width: 61px;
    height: 18px;
    margin: 10px 8px 0 0;
    text-indent: 100%;
    overflow: hidden;
    background: url(../images/common/sprite.png) no-repeat 0 -232px;
    -webkit-background-size: 250px;
       -moz-background-size: 250px;
            background-size: 250px;
    vertical-align: top;
  }

/*  header.page .cart{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 26px;
    height: 26px;
    background: url(../images/common/sprite.png) no-repeat 0 -174px;
    -webkit-background-size: 250px;
       -moz-background-size: 250px;
            background-size: 250px;
  }
  header.page .cart:active,
  header.page .cart.off{
    background-position: -30px -174px;
  }
*/
header.page .cart{
	display:inline-block;
	padding:5px;
	color:#ce5e83;
	font-size:1.2rem;
	border-radius:5px;
	border:1px solid #ebafc2;
	background-color: #f6ecec;
	background: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#fbf2f5));
	background:                  -webkit-linear-gradient(top,#ffffff,#fbf2f5);
	background:                     -moz-linear-gradient(top,#ffffff,#fbf2f5);
	background:                          linear-gradient(top,#ffffff,#fbf2f5); 
    position: absolute;
    top: 5px;
    right: 10px;
}

header.page .cart img{
	width:14px;
	height:10px;
	margin:3px;
}

header.page .cart a{
	text-decoration:none;
	color:#ce5e83;
}


  header.page > ul,
  footer.page > ul{ 
    padding: 7px 20px;
    border-bottom: 1px solid #b88887;
  }
    header.page > ul > li,
    footer.page > ul > li{
      float: left;
    }
      header.page > ul > li a,
      footer.page > ul > li a{
        display: block;
      }
    header.page > ul > li:nth-child(2),
    footer.page > ul > li:nth-child(2){
      float: right;
    }

header.page #Cart{}

/* ------------------------------
 Footer
 ------------------------------- */
footer.page{
  font-size: 1.4rem;
  text-align: center;
}
  footer.page .copyright{
  background: url(../images/common/bg_footer.png) no-repeat left bottom;
  -webkit-background-size: 320px auto;
     -moz-background-size: 320px auto;
          background-size: 320px auto;
    padding: 10px;
    border-top: 1px solid #b88887;
    font-size: 1.2rem;
  }

/* ------------------------------
 banner
 ------------------------------- */
.banners{
  display: table;
  width: 95%;
  padding: 5px;
  margin: 0 auto;
}
  .banners > a{
    display: table-cell;
  }
.banners.col2{}
  .banners.col2 > a{
    width: 50%;
    text-align: left;
  }
  .banners.col2 > a:nth-child(2n){
    text-align: right;
  }
.banners.col3{}
  .banners.col3 > a{
    width: 33%;
    text-align: left;
  }
  .banners.col3 > a:nth-child(2){
    width: 34%;
    text-align: center;
  }
  .banners.col3 > a:nth-child(3n){
    text-align: right;
  }
.banners img {
	width: 100%;
	height: auto;
}
/* ------------------------------
 breadCrumbs
 ------------------------------- */
.breadCrumbs{
  border-bottom: 1px solid #e3ded4;
  padding: 0;
}

.breadCrumbs_first_01{
    width: 320px;
    height: 65px;
    background: url(../images/common/breadcrumbs_first.png) no-repeat 0 0;
    -webkit-background-size: 320px auto;
       -moz-background-size: 320px auto;
            background-size: 320px auto;
 }
.breadCrumbs_first_02{
    width: 320px;
    height: 65px;
    background: url(../images/common/breadcrumbs_first.png) no-repeat  0 -65px;
    -webkit-background-size: 320px auto;
       -moz-background-size: 320px auto;
            background-size: 320px auto;
 }
.breadCrumbs_first_03{
    width: 320px;
    height: 65px;
    background: url(../images/common/breadcrumbs_first.png) no-repeat  0 -130px;
    -webkit-background-size: 320px auto;
       -moz-background-size: 320px auto;
            background-size: 320px auto;
 }
.breadCrumbs_first_04{
    width: 320px;
    height: 65px;
    background: url(../images/common/breadcrumbs_first.png) no-repeat  0 -195px;
    -webkit-background-size: 320px auto;
       -moz-background-size: 320px auto;
            background-size: 320px auto;
 }
.breadCrumbs_first_05{
    width: 320px;
    height: 65px;
    background: url(../images/common/breadcrumbs_first.png) no-repeat  0 -260px;
    -webkit-background-size: 320px auto;
       -moz-background-size: 320px auto;
            background-size: 320px auto;
 }
.breadCrumbs_first_06{
    width: 320px;
    height: 65px;
    background: url(../images/common/breadcrumbs_first.png) no-repeat  0 -325px;
    -webkit-background-size: 320px auto;
       -moz-background-size: 320px auto;
            background-size: 320px auto;
 }
.breadCrumbs_normal_01{
    width: 320px;
    height: 65px;
    background: url(../images/common/breadcrumbs_normal.png) no-repeat 0 0;
    -webkit-background-size: 320px auto;
       -moz-background-size: 320px auto;
            background-size: 320px auto;
 }
.breadCrumbs_normal_02{
    width: 320px;
    height: 65px;
    background: url(../images/common/breadcrumbs_normal.png) no-repeat  0 -65px;
    -webkit-background-size: 320px auto;
       -moz-background-size: 320px auto;
            background-size: 320px auto;
 }
.breadCrumbs_normal_03{
    width: 320px;
    height: 65px;
    background: url(../images/common/breadcrumbs_normal.png) no-repeat  0 -130px;
    -webkit-background-size: 320px auto;
       -moz-background-size: 320px auto;
            background-size: 320px auto;
 }
.breadCrumbs_normal_04{
    width: 320px;
    height: 65px;
    background: url(../images/common/breadcrumbs_normal.png) no-repeat  0 -195px;
    -webkit-background-size: 320px auto;
       -moz-background-size: 320px auto;
            background-size: 320px auto;
 }
.breadCrumbs_normal_05{
    width: 320px;
    height: 65px;
    background: url(../images/common/breadcrumbs_normal.png) no-repeat  0 -260px;
    -webkit-background-size: 320px auto;
       -moz-background-size: 320px auto;
            background-size: 320px auto;
 }
.breadCrumbs_normal_06{
    width: 320px;
    height: 65px;
    background: url(../images/common/breadcrumbs_normal.png) no-repeat  0 -325px;
    -webkit-background-size: 320px auto;
       -moz-background-size: 320px auto;
            background-size: 320px auto;
 }
.breadCrumbs_normal_07{
    width: 320px;
    height: 65px;
    background: url(../images/common/breadcrumbs_normal.png) no-repeat  0 -390px;
    -webkit-background-size: 320px auto;
       -moz-background-size: 320px auto;
            background-size: 320px auto;
 }

/* ------------------------------
 Contents
 ------------------------------- */
#Contents{}
  #Contents header{}

/* ------------------------------
 Heading Style
 ------------------------------- */
.hs1{
  padding: 0 10px;
  min-height: 52px;
  font-size: 1.8rem;
  color: #64293d;
  line-height: 52px;
  background: url(../images/common/bg_contents_h1.png) no-repeat right bottom;
  -webkit-background-size: 320px 52px;
     -moz-background-size: 320px 52px;
          background-size: 320px 52px;
  border-bottom: 1px solid #e3ded4;
}
.hs2{
  position: relative;
  padding: 5px 10px;
  border-bottom: 2px solid #64293d;
  border-top: 1px solid #e3ded4;
  color: #64293d;
  font-size: 1.8rem;
  line-height: 1.3;
  background-color: #f6ecec;
  background: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#f6ecec));
  background:                  -webkit-linear-gradient(top,#ffffff,#f6ecec);
  background:                     -moz-linear-gradient(top,#ffffff,#f6ecec);
  background:                          linear-gradient(top,#ffffff,#f6ecec); 
}
  .hs2.icon{
    padding-left: 30px;
  }
  .hs2 > i{
    position: absolute;
    top: 7px;
    left: 6px;
    margin-right: 4px;
  }
.hs3{
  margin: 3px 0;
  padding: 5px 10px;
  background: #f1e3e3;
  font-size: 1.6rem;
  color: #64293d;
  line-height: 1.5;
}
.hs4{
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #b88887;
  color: #64293d;
  line-height: 1.3;
}
.hs4.icon{
  padding-left: 30px;
}
  .hs4 > i{
    position: absolute;
    top: 13px;left: 10px;
  }

.hs5{
  padding: 10px;
  background: #F4E9E9;
  line-height: 1.3;
}
  .hs5 > span{
    margin: 0 4px 0 0;
  }

/* ------------------------------
 Contents > .itemList
 ------------------------------- */
#Contents .itemList{
  border-bottom: 1px solid #b88887;
}
  #Contents .itemList li{
    position: relative;
    padding: 10px;
    border-top: 1px solid #b88887;
    font-size: 1.4rem;
  }
    #Contents .itemList li .status{
      position: absolute;
      top: 10px;
      left: 90px;
      z-inidex: 2;
      width: 20px;
    }
      #Contents .itemList li .status .check{
        margin-bottom: 5px; 
        vertical-align: top;
      }
    #Contents .itemList li .thumbnail{
      float: left;
      width: 100px;
      height: 100px;
      margin: 0 10px 0 0;
    }
    #Contents .itemList li .yb{
      display: table;
      width: 100%;
    }
    #Contents .itemList li .yb_img{
      display: table-cell;
      margin: 0;
      padding: 7px 10px 0 5px;
      vertical-align: top;
      width: 1%;
    }
    #Contents .itemList li .yb_text{
      color: darkorange;
      font-size: 1.2rem;
      display: table-cell;
      padding: 5px 0 0 0;
      vertical-align: middle;
    }
    #Contents .itemList li .detail{
      float: left;
      width: 63%;
    }
      #Contents .itemList li .detail .plate{
        margin: 0 0 10px 0;
        border-bottom: 1px dotted #8f5150;
      }
      #Contents .itemList li .detail .plate dt,
      #Contents .itemList li .detail .plate dd{
        padding: 5px 0;
        line-height: 1.3;
      }
      #Contents .itemList li .detail .plate dt{
        float: left;
        width: 30%;
        color: #b88887;
      }
      #Contents .itemList li .detail .plate dd{
        padding-left: 30%;
        color: #535353;
      }
      #Contents .itemList li .detail .plate dt:first-child + dd{

      }
    #Contents .itemList li .name{}
    #Contents .itemList li .price{}
    #Contents .itemList li .anno{
      clear: both;
      margin: 0 0 5px 0;
      padding: 10px 0 0;
      font-size: 1.2rem;
    }
    #Contents .itemList li .point{
      margin: 0 0 10px 0;
      font-size: 1.4rem;
      color: #535353;
    }
      #Contents .itemList li .point span{
        color: #64293d;
      }
      #Contents .itemList li .point .num{
		width:22px;
		height:22px;
		padding:2px;
        margin: 0 6px;
        background: #64293d;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
                border-radius: 3px;
        color: #fff;
        text-align: center;
        line-height: 20px;
      }
     #Contents .itemList li.selected{
        background: #F1E3E3;
     }

#Contents .noboder{
	border-bottom:none;
}

.anno_{
	display:block;
	width:100%;
	padding:10px 10px;
	font-size:1.2rem;
}

#Contents .cpRecommend{
	background-color: #b36bb3;
	display:block;
	width:100%;
	color:#fff;
	padding:4px;
	font-size:1.2rem;	
}

/* ------------------------------
 Contents > Tab
 ------------------------------- */
.tabHead{
  padding: 0 0 10px 0;
}
  .tabKey{
    display: table;
    width: 100%;
  }
    .tabKey .tabKeyMenu{
      display: table-cell;
      padding: 10px 0;
      background-color: #af5974;
      background-image: -webkit-gradient(linear,0 0,0 100%,from(#c17c93),to(#af5974));
      background-image:                  -webkit-linear-gradient(top,#c17c93,#af5974);
      background-image:                     -moz-linear-gradient(top,#c17c93,#af5974);
      background-image:                          linear-gradient(top,#c17c93,#af5974);
      color: #fff;
      font-size: 1.4rem;
      text-align: center;
      vertical-align: middle;
      text-decoration: underline;
    }

      .tabKey .tabKeyMenu a{
        color: #fff;
      }
      .tabKey.col2 .tabKeyMenu{
        width: 50%;
      }
      .tabKey.col3 .tabKeyMenu{
        width: 33%;
      }
      .tabKey.col3 .tabKeyMenu:nth-child(3n){
        width: 34%;
      }
    .tabKey .current,
    .tabKey .active{
      background-color: #af5974;
      background-image: -webkit-gradient(linear,0 0,0 100%,from(#f0e0e0),to(#fff));
      background-image:                  -webkit-linear-gradient(top,#f0e0e0,#fff);
      background-image:                     -moz-linear-gradient(top,#f0e0e0,#fff);
      background-image:                          linear-gradient(top,#f0e0e0,#fff);
      color: #dc417b;
      text-decoration: none;
      border-top: 2px solid #eb8ead;
      border-left: 2px solid #eb8ead;
      border-right: 2px solid #eb8ead;
      padding: 9px;
    }
      .tabKey .active a{
        color: #dc417b;
      }

    .tabstyle.active{
}


  /* Tab > Button Style
  ----------------------------*/
  .tabKey.buttonStyle{}
    .tabKey.buttonStyle .tabKeyMenu{
      display: inline-block;
      float: left;
      margin: 0 4px 4px 4px;
      width: 48%;
      -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
              border-radius: 3px;
      text-decoration: none;
}
    .tabKey.buttonStyle .tabKeyMenu:nth-child(2n){
      float: right;
      margin-left: 0;
    }
    .tabKey.buttonStyle .active{
	border: none;
        background-color: #aaa;
        background-image: none;
        box-shadow: inset 0 2px 5px rgba(0,0,0, .25);
        color: #fff;
        padding: 10px;
    }
  .tabBody{
    padding: 10px 0 0;
  }
    .tabBody.active{
      display: block;
    }

/* ------------------------------
 Contents > .Accordion
 ------------------------------- */
.accordionKey{
  position: relative;
  vertical-align: middle;
}
.accordionKey.withIcon{
  padding: 5px 10px 5px 50px;
  min-height: 30px;
  line-height: 30px;
}
  .accordionKey > i{
    position: absolute;
    top: 5px;
    left: 10px;
  }
.accordionBody{}
.accordionBody.active{
  display: block;
}

/* ------------------------------
 Contents > .tableMenu
 ------------------------------- */
.navMenu{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.tableMenu{
  display: table;
  width: 100%;
}

  .navMenu div{
    display: table;
    width: 100%;
    background-color: #af5974;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#c17c93),to(#af5974));
    background-image:                  -webkit-linear-gradient(top,#c17c93,#af5974);
    background-image:                     -moz-linear-gradient(top,#c17c93,#af5974);
    background-image:                          linear-gradient(top,#c17c93,#af5974);
  }

  .navMenu div > span.table100{
    display: table-cell;
    width: 100%;
    padding: 2px 0;
    font-size: 1.2rem;
    text-align: center;
  }

  .navMenu div > span.table50{
    display: table-cell;
    width: 50%;
    padding: 2px 0;
    font-size: 1.2rem;
    text-align: center;
  }

  .navMenu div > span a{
    display: block;
    padding: 8px 0;
    border-right: 1px solid #9f5068;
    color: #fff;
    text-decoration: none;
  }
    .navMenu div > span a > i{
      vertical-align: middle;
    }
  .navMenu div > span:nth-child(2n) > a{
    display: block;
    padding: 8px 0;
    border-left: 1px solid #c48298;
    border-right: 0;
    text-decoration: none;
  }


/* ------------------------------
 Contents > .record (dl)
 ------------------------------- */
.record{}
  .record dt,
  .record dd{
   font-size: 1.4rem;
  }
  .record dt{
    float: left;
  }
  .record dd{}
 
/* ------------------------------
 Button
 (#top #bottom)
 ------------------------------- */
.btn{
  position: relative;
  display: inline-block;
  height: 32px;
  padding: 0 12px;
  background-color: #65293d;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#c17c93),to(#af5974));
  background-image: -webkit-linear-gradient(top,#c17c93,#af5974);
  background-image: -moz-linear-gradient(top,#c17c93,#af5974);
  background-image: linear-gradient(top,#c17c93,#af5974);
  border: none;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  font-size: 1.4rem;
  line-height: 32px;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0,0,0, .15);
}

.accordionBtn{
  position: relative;
  display: inline-block;
  height: 32px;
  padding: 0 12px;
  background-color: #65293d;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#c17c93),to(#af5974));
  background-image: -webkit-linear-gradient(top,#c17c93,#af5974);
  background-image: -moz-linear-gradient(top,#c17c93,#af5974);
  background-image: linear-gradient(top,#c17c93,#af5974);
  border: none;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  font-size: 1.4rem;
  line-height: 32px;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0,0,0, .15);
	margin: 10px;
}

.btn > span{
  line-height: 30px;
}
 
.accordionBtn > span{
  line-height: 30px;
}

.btn > i{
  margin-right: 4px;
}

/* Button Desable */
.btnDesable{
  background-color: #cdcdcd;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ddd),to(#cdcdcd));
  background-image:                  -webkit-linear-gradient(top,#ddd,#cdcdcd);
  background-image:                     -moz-linear-gradient(top,#ddd,#cdcdcd);
  background-image:                          linear-gradient(top,#ddd,#cdcdcd);
  border: 1px solid #cbcbcb;
}
/* Button Selected */
.btnActive{
  background-color: #aaa;
  background-image: none;
  box-shadow: inset 0 2px 5px rgba(0,0,0, .25);
}

/* Button Detail */
.btnDetail{
  background-color: #af5a74;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#c17c93),to(#af5a74));
  background-image:                  -webkit-linear-gradient(top,#c17c93,#af5a74);
  background-image:                     -moz-linear-gradient(top,#c17c93,#af5a74);
  background-image:                          linear-gradient(top,#c17c93,#af5a74);
  border: 1px solid #af5a74;
}

/* Button Small */
.btnSmall{
  border: 1px solid #d0a9a9;
  background: #fff;
  color: #64293d;
}
.btnSmallSelected{
  background: #f5eded;
  box-shadow: inset 2px 3px 3px rgba(0,0,0, .15);
  border: 1px solid #d0a9a9;
  color: #64293d;
}
.btnSmallDesable{
  background: #fff;
  border: 1px solid #cecece;
  color: #c0c0c0;
}

.btnCartBlank{
  height: auto;
  padding: 3px 20px;
  background-color: #efe9de;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#efe9de));
  background-image:                  -webkit-linear-gradient(top,#fff,#efe9de);
  background-image:                     -moz-linear-gradient(top,#fff,#efe9de);
  background-image:                          linear-gradient(top,#fff,#efe9de);
  border: 1px solid #e6cdb9;
  color: #9a5a25;
  font-size: 1.6rem;
}

.btnCheckmate{
  height: auto;
  padding: 3px 10px;
  background-color: #af5a74;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffc177),to(#ff8a00));
  background-image:                  -webkit-linear-gradient(top,#ffc177,#ff8a00);
  background-image:                     -moz-linear-gradient(top,#ffc177,#ff8a00);
  background-image:                          linear-gradient(top,#ffc177,#ff8a00); 
  border: 1px solid #ffa63d;
  font-size: 1.6rem;
}

.btnTransmit{
  background-color: #ff8a00;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffc177),to(#ff8a00));
  background-image:                  -webkit-linear-gradient(top,#ffc177,#ff8a00);
  background-image:                     -moz-linear-gradient(top,#ffc177,#ff8a00);
  background-image:                          linear-gradient(top,#ffc177,#ff8a00); 
  border: none;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  font-size: 1.4rem;
}

/* -------------------------
  Button > Edge 
 ---------------------------*/
.btnEdge{
  background-color: #65293d;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#873c55),to(#65293d));
  background-image:                  -webkit-linear-gradient(top,#873c55,#65293d);
  background-image:                     -moz-linear-gradient(top,#873c55,#65293d);
  background-image:                          linear-gradient(top,#873c55,#65293d);
  border: 1px solid #a13257;
  color: #fff;
}
  .btnEdge .edge{
    position: absolute;
    top: 0;
    left: -10px;
    display: block;
    width: 10px;
    height: 30px;
    background: url(../images/common/sprite.png) -240px -174px no-repeat;
    -webkit-background-size: 250px;
       -moz-background-size: 250px;
            background-size: 250px;
  }

.btnEdge.right{}
  .btnEdge.right .edge{
    left: auto;right: -10px;
    background-position: -230px -205px;
  }

/* -------------------------
  Button > Edge (add20140326)
 ---------------------------*/
.btnEdge_orange{
  background-color: #fa7a61;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fa7a61),to(#f94826));
  background-image:                  -webkit-linear-gradient(top,#fa7a61,#f94826);
  background-image:                     -moz-linear-gradient(top,#fa7a61,#f94826);
  background-image:                          linear-gradient(top,#fa7a61,#f94826);
  border: 1px solid #f94826;
  color: #fff;
}
  .btnEdge_orange .edge{
    position: absolute;
    top: 0;
    left: -10px;
    display: block;
    width: 10px;
    height: 30px;
    background: url(../images/common/orange_btn.png) 0px 0px no-repeat;
    -webkit-background-size: 20px 30px;
       -moz-background-size: 20px 30px;
            background-size: 20px 30px;
  }

.btnEdge_orange.right{}
  .btnEdge_orange.right .edge{
    left: auto;right: -10px;
    background-position: 0px 0px;
  }

/* -------------------------
  Button > Edge > Back
 ---------------------------*/
.btnEdge.back{
  background-color: #65293d;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#873c55),to(#65293d));
  background-image:                  -webkit-linear-gradient(top,#873c55,#65293d);
  background-image:                     -moz-linear-gradient(top,#873c55,#65293d);
  background-image:                          linear-gradient(top,#873c55,#65293d);
  border: 1px solid #a13257;
  color: #b88887;
}
  .btnEdge.back .edge{
    position: absolute;
    top: 0;
    left: -10px;
    display: block;
    width: 10px;
    height: 30px;
    background: url(../images/common/sprite.png) -240px -174px no-repeat;
    -webkit-background-size: 250px;
       -moz-background-size: 250px;
            background-size: 250px;
  }
.btnEdge.back.right{}
  .btnEdge.back.right .edge{
    left: auto;right: -10px;
    background-position: -230px -205px;
  }
/* -------------------------
  Button > Edge > Desable
 ---------------------------*/
.btnEdge.desable{
  background-color: #cdcdcd;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ddd),to(#cdcdcd));
  background-image:                  -webkit-linear-gradient(top,#ddd,#cdcdcd);
  background-image:                     -moz-linear-gradient(top,#ddd,#cdcdcd);
  background-image:                          linear-gradient(top,#ddd,#cdcdcd);
  border: 1px solid #cbcbcb;
  color: #fff;
}
  .btnEdge.desable .edge{
    top: 0;left: -10px;
    background-position: -240px -205px;
  }

.btnEdge.desable.right{}
  .btnEdge.desable.right .edge{
    left: auto;right: -10px;
    background-position: -230px -174px;
  }

/* ------------------------------
 Layout
 ------------------------------- */
.flLeft {float: left!important;}
.flRight{float: right!important;}

.vAT{vertical-align: top!important;}
.vAB{vertical-align: bottom!important;}
.vAM{vertical-align: middle!important;}
.vABa{vertical-align: baseline!important;}

/* ------------------------------
 Layout > Box
 ------------------------------- */
.borderBox{border: 1px solid #B88887!important;}
.borderBoxTop{border-top: 1px solid #B88887!important;}
.borderBoxBottom{border-bottom: 1px solid #B88887!important;}
.borderBoxTopBottom{border-top: 1px solid #B88887!important;border-bottom: 1px solid #B88887!important;}
 
.offset  {padding: 0 0 0 10px;}
.offset12{padding: 0 0 0 12px;}
.offset14{padding: 0 0 0 14px;}
.offset15{padding: 0 0 0 15px;}
.offset16{padding: 0 0 0 16px;}
.offset18{padding: 0 0 0 18px;}
.offset20{padding: 0 0 0 20px;}
.offset24{padding: 0 0 0 24px;}
.offset25{padding: 0 0 0 25px;}
 
.onset  {margin: 0 0 0 10px;}
.onset12{margin: 0 0 0 12px;}
.onset14{margin: 0 0 0 14px;}
.onset15{margin: 0 0 0 15px;}
.onset16{margin: 0 0 0 16px;}
.onset18{margin: 0 0 0 18px;}
.onset20{margin: 0 0 0 20px;}
 
.boxoffset  {padding: 10px 10px;}
.boxoffset12{padding: 10px 12px;}
.boxoffset14{padding: 10px 14px;}
.boxoffset15{padding: 10px 15px;}
.boxoffset16{padding: 10px 16px;}
.boxoffset18{padding: 10px 18px;}
.boxoffset20{padding: 10px 20px;}

.boxoffset.error{
  display: table;
  width: 100%;
  background: #f27526;
}
  .boxoffset.error .mark{
    display: table-cell;
    width: 34px;
    padding: 0 15px 0 5px;
    vertical-align:middle;
  }
  .boxoffset.error .alertTxt{
    display:table-cell;
    color: #fff;
  }

[class^=boxo].blue{background: #f3f8f8;}
[class^=boxo].pink{background: #f4e9e9;}
[class^=boxo].gray{background: #f7f7f1;}

.boxonset  {margin: 0 10px;}
.boxonset12{margin: 0 12px;}
.boxonset14{margin: 0 14px;}
.boxonset15{margin: 0 15px;}
.boxonset16{margin: 0 16px;}
.boxonset18{margin: 0 18px;}
.boxonset20{margin: 0 20px;}

.mB5 {margin-bottom: 5px !important;}
.mB10{margin-bottom: 10px!important;}
.mB15{margin-bottom: 15px!important;}
.mB20{margin-bottom: 20px!important;}
.mB25{margin-bottom: 25px!important;}
.mB30{margin-bottom: 30px!important;}
.mB35{margin-bottom: 35px!important;}
.mB40{margin-bottom: 40px!important;}
.mB45{margin-bottom: 45px!important;}
.mB50{margin-bottom: 50px!important;}
.mB55{margin-bottom: 55px!important;}

.mT5 {margin-top: 5px !important;}
.mT10{margin-top: 10px!important;}
.mT15{margin-top: 15px!important;}
.mT20{margin-top: 20px!important;}
.mT25{margin-top: 25px!important;}
.mT30{margin-top: 30px!important;}
.mT35{margin-top: 35px!important;}
.mT40{margin-top: 40px!important;}
.mT45{margin-top: 45px!important;}
.mT50{margin-top: 50px!important;}
.mT55{margin-top: 55px!important;}

.mR5 {margin-right: 5px !important;}
.mR6 {margin-right: 6px !important;}
.mR10{margin-right: 10px!important;}
.mR15{margin-right: 15px!important;}
.mR20{margin-right: 20px!important;}
.mR25{margin-right: 25px!important;}
.mR30{margin-right: 30px!important;}
.mR35{margin-right: 35px!important;}
.mR40{margin-right: 40px!important;}
.mR45{margin-right: 45px!important;}
.mR50{margin-right: 50px!important;}
.mR55{margin-right: 55px!important;}

.mL5 {margin-left: 5px !important;}
.mL10{margin-left: 10px!important;}
.mL15{margin-left: 15px!important;}
.mL20{margin-left: 20px!important;}
.mL25{margin-left: 25px!important;}
.mL30{margin-left: 30px!important;}
.mL35{margin-left: 35px!important;}
.mL40{margin-left: 40px!important;}
.mL45{margin-left: 45px!important;}
.mL50{margin-left: 50px!important;}
.mL55{margin-left: 55px!important;}

/* -----------------------------
 Font
 ------------------------------- */
.fcRed{color: #dc417b!important;} 
.fcGray{color: #535353!important;}
.fcPink{color: #de407b!important;}
.fcOrange{color: #f67824!important;}
.fcGreen{color: #2aa241!important;}
.fcPurple{color: #65273c!important;}
.fcBrown{color: #975b27!important;}
.fcAlert{color: #d80c18!important;}

.txtAC{text-align: center;!important;}
.txtAR{text-align: right;!important;}
.txtAL{text-align: left;!important;}

.fsS{font-size: 1.4rem!important;}
.fsM{font-size: 1.6rem!important;}
.fsL{font-size: 1.8rem!important;}



/* ------------------------------
 Flick.css
 ------------------------------- */
/* -------------------------------
  Flick.css > slideBox
 ------------------------------- */
.slideBox {
  position: relative;
  clear: both;
  width: 100%;
  background: #fff;
  margin: 0 auto;
  overflow: hidden;
}
  .slideContainer {
    width: 320px;
    overflow: hidden;
    margin: 0 auto;
  }
    .slideList {
      position: relative;
      overflow: hidden;
    }
    .slideList .item {
      float: left;
      width: 220px;
      overflow: hidden;
    }
      .slideList .item a {
        display: block;
      }
    .slideList .image {
      display: block;
      padding: 10px;
    }
    .slideList .image img {
      width: 100%;
      height: auto;
    }

.moving {
  -webkit-transition: -webkit-transform .5s ease-out;
     -moz-transition: -webkit-transform .5s ease-out;
          transition: -webkit-transform .5s ease-out;
}

/* ------------------------------
 Flick.css > pager
 ------------------------------- */
/* ---------------
.slidePager {
  position: relative;
  width: 100%;
  background: none;
}
  .slidePager .prevBtn,
  .slidePager .nextBtn {
    display: block;
    position: absolute;
    top: 0;
    width: 69px;
    height: 32px;
    text-indent: -9999px;
  }
  .slidePager .prevBtn {
    left: 3px;
    background: url() no-repeat 0 0;
  }
  .slidePager .nextBtn {
    right: 3px;
    background: url() no-repeat 0 0;
  }
  .slidePager .off {
    opacity: 0.3;
  }
------------------ */
/* ------------------------------
 Flick.css > slideNav
 ------------------------------- */
.slideNav {
  display: table;
  margin: 0 auto 10px;
}
  .slideNav ol{
    display: table-row;
  }
  .slideNav li {
    display: table-cell;
    width: 20px;
    height: 20px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
  }
  .slideNav li a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .slideNav li.selected {
    position: relative;
  }


/* ----------------------------- */
.conveniLogo {
	width: 100%;
}

#searchAddrList, #searchTownList {
	font-size: 1.8rem;
}
#nowLoadingPrefMsg,#nowLoadingCityMsg {
	margin-top: 3px;
}
#searchAddrList ul li a, #searchAddrList ul li a:visited, #searchTownList ul li a, #searchTownList ul li a:visited, #searchAddrBox ul li a, #searchAddrBox ul li a:visited {
	color: #fff;
}
#searchAddrList ul li a:hover, #searchTownList ul li a:hover {
	color: #ccc;
}
#searchTownList ul li.shortcutKana {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}

#selectPref {
	display: none;
	margin-top: 5px;
	height: 60px;
	width: 100%;
}
#selectCity {
	display: none;
	margin-top: 0;
	height: 60px;
	width: 100%;
}
#pref,#city {
	margin-top: 9px;
}
.flBox {
	float: left;
}
.boxAttention {
	clear: both;
	margin-top: -5px;
	height: 20px;
}
.lastLine {
	padding-top: 5px;
	text-align: center;
	text-decoration: underline;
}
.formTextBtn {
	margin: 10px 4px;
}

.formTextBtn a {
	display: inline-block;
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#e2d9d9));
	background: -webkit-linear-gradient(top,  #f6f6f6 0%,#e2d9d9 100%);
	background:    -moz-linear-gradient(top,  #f6f6f6 0%,#e2d9d9 100%);
	background:         linear-gradient(to bottom,  #f6f6f6 0%,#e2d9d9 100%);
	font-size: 1.2rem;
	color: #734;
	border :1px solid #734;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
	padding: 5px 6px;
	line-height: 1;
	text-decoration: none;
}
.ftAttention {
	font-size: 1.4rem;
	color: #d80c18;
	margin: 4px 0 4px 4px;
}
.ftAlert {
	font-size: 1.6rem;
	background-color: #d80c18;
	color: #fff;
	margin: 2px 4px;
	padding: 3px 6px;
	display: none;
}

/* ------------------------------
3step item area
 ------------------------------- */
.item_box{
	width:100%;
	padding:10px;
	border-bottom:2px solid #c58525;
	position:relative;
}

.item_box img{
	width:30%;
	height:auto;
	float:left;
}

.item_box div{
	width:70%;
	float:left;
}

.item_box:after{
	display:block;
	visibility:hidden;
	content:".";
	height:0px;
	clear:both;
}

.item_box clr{
	width:100%;
	height:0px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:10;
	background-color:#FFFFFF;
	opacity:0.5;
}

.item_box2{
	border:0;
	border-top:2px solid #c58525;
}


.item_title{
	font-weight:bold;
	font-size:1.8rem;
}

.numSpan{
	display:inline-block;
	width:20px;
	height:20px;
	margin-right:5px;
	text-align:center;
	border-radius:5px;
	background-color:#000000;
	color:#FFFFFF;
}

.item_buttomC1,
.item_buttom{
	padding:10px;
	text-align:right;
}
.item_buttom2{
	text-align:right;
}
.item_buttom2 p,
.item_buttom p{
	display:inline-block;
	padding:7px 15px;
	border-radius:5px;
	text-align:center;
	background-color: #65293d;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#c17c93),to(#af5974));
	background-image: -webkit-linear-gradient(top,#c17c93,#af5974);
	background-image: -moz-linear-gradient(top,#c17c93,#af5974);
	background-image: linear-gradient(top,#c17c93,#af5974);
	position:relative;
	z-index:20;
}

.item_buttomC1 p{
	display:inline-block;
	padding:7px 15px;
	border-radius:5px;
	color:#693736;
	text-align:center;
	background-color: #e09eb3;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbf8f7),to(#f7f1f0));
	background-image: -webkit-linear-gradient(top,#fbf8f7,#f7f1f0);
	background-image: -moz-linear-gradient(top,#fbf8f7,#f7f1f0);
	background-image: linear-gradient(top,#fbf8f7,#f7f1f0);
	border:1px solid #f4d2cb;
}


.item_buttom2 p a,
.item_buttom p a{
	text-decoration:none;
	font-weight:bold;
	color:#FFFFFF;
}

.item_prace{
	padding:10px;
	border-top:1px solid #cdabaa;
}

.item_prace:after{
	display:block;
	content:".";
	height:0px;
	visibility:hidden;
	clear:both;
}

.item_prace p{
	width:50%;
	float:left;
	font-weight:1.0rem;
}

.item_prace p:nth-of-type(2){
	text-align:right;
}

.item_prace2{
	width:100%;
	font-size:1.4rem;
}

.item_prace2 tr{
	margin-bottom:5px;
}

.item_prace2 tr td:nth-of-type(2){
	text-align:right;
}

.item_prace3{
	width:100%;
	border:1px solid #DFABAC;
}

.item_prace3 td{
	padding:5px;
	font-size:1.2rem;
	font-weight:bold;
}

.tr3 td{
	width:33%;
	text-align:center;
}

.tr3 td:nth-last-of-type(1){
	width:34%;
}

.radioAreaBtn{
	display:block;
	width:100%;
	padding:10px;
	border-radius:5px;
	color:#000000;
	background-color:#FFDCFA;
	margin-bottom:10px;
	border-bottom:1px solid #b88887;
}

.RABon{ background-color:#f690c2;}
.RABoff{background-color:#FFDCFA;}

.radioAreaDisabled{
	display:block;
	width:100%;
	padding:10px;
	border-radius:5px;
	color:#eee;
	background-color:#999;
	margin-bottom:10px;
	border-bottom:1px solid #eee;
}


.radioAreaBtn　input,
.radioAreaDisabled input{
	margin-right:7px;
}

.line_title{
	width:100%;
	padding:5px 10px;
	background:#f1e3e3;
	color:#74445b;
	font-weight:bold;
}

#kaniform{
	display:none;
	visibility:hidden;
	height:auto;
}

/* ------------------------------
　包装紙エリア
 ------------------------------- */
.housoushi div{
	width:50%;
	padding:5px;
	float:left;
}

.housoushi img{
	width:100%;
	height:auto;
}

.housoushi:after{
	display:block;
	height:0px;
	visibility:hidden;
	content:".";
	clear:both;
}

.messagecard{
	display:block;
	padding:5px;
	border:2px solid #FFC3C4;
}

/*--------------------------
新リーフアイコンタイトル用
--------------------------*/
.leaf3Title{
	position: relative;
	padding: 5px 10px;
	border-bottom: 2px solid #64293d;
	border-top: 1px solid #e3ded4;
	color: #64293d;
	font-size: 1.8rem;
	line-height: 1.3;
	background-color: #f6ecec;
	background: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#f6ecec));
	background:                  -webkit-linear-gradient(top,#ffffff,#f6ecec);
	background:                     -moz-linear-gradient(top,#ffffff,#f6ecec);
	background:                          linear-gradient(top,#ffffff,#f6ecec); 
}

.leaf3Title.icon{
	padding-left: 30px;
}

.leaf3Title > i{
    position: absolute;
    top: 17px;
    left: 6px;
    margin-right: 4px;
}


.bcPink{ background-color:#f1e3e3 !important;}
.bcWhite{ background-color:#FFFFFF !important;}

/*検索結果css外部化*/
.searchResultPanel{ z-index:100;background-color:#E68AA8;display:none; }
.searchMessage{ padding:10px;color:#ffffff;text-align:center; }
.searchClose{ text-align:center;padding:10px;display:none; }
.searchClose span{ cursor: pointer;color:#ffffff;text-decoration:underline; }
.prefSelectBlock{ overflow: hidden; display: none; }
.citySelectBlock{ overflow: hidden; display: none; }
.KEN{ border-width:0px;border-style:None;background-color: transparent;width:95%; }
.ADRS_1{ border-width:0px;border-style:None;background-color: transparent;width:95%;}


#searchResultList a{
	text-decoration:underline;
}

#searchResultList a,
#searchResultList span{
	color:#FFFFFF;
}

.customerCheckText{
	display:inline;
	font-weight:bold;
}

#accept{
	margin-right:5px;
}

#acceptArea{
	display:block;
	width:100%;
	padding:5px;
	text-align:center;
	border:1px solid #f2cac2;
	border-radius:5px;
}
.acceptToCheck{
	display:block;
	width:100%;
	margin-bottom:10px;
	text-align:center;
}
.acceptToCheck img{
	width:32px;
	height:auto;
}

.campaign_text{
	background-color: #FDFFDF;
}

