/* charset */
@charset "utf-8";

/* ---------------------------- sec01 */
.cmn_blk{
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 80px 80px;
  font-size: 14px;
}
@media screen and (max-width: 768px ){
  .cmn_blk{
    padding: 30px 40px 50px;
  }
}

/* -------------- media */
.media{
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #ebc486;
}
.media .hd{
  text-align: center;
  background: #ebc486;
  color: #fff;
  font-size: 18px;
  padding: 8px 0;
}
.media .bd{
  padding: 20px;
  margin: 1px;
  line-height: 1.8;
  border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  background-color: #fff;
}


/* -------------- blk01 */
.blk01{
  position: relative;
  /*margin-top: 92px;*/
  margin-top: 132px;
  padding: 0 34px 60px;
  border: 4px solid #886e4f;
}
.blk01 .sub{
  display: block;
  width: 75%;
  padding: 0 1%;
  box-sizing: border-box;  
  // max-width: 500px;
  margin: -92px auto 35px !important;
  text-align: center;
  background-color: #f2f5f7;
}

.blk01 .top_txt{
  margin-top: 20px !important;
  font-size: 18px;
}

.blk01 .txt{
  margin-top: 20px !important;
  line-height: 1.8;
}
.blk01 .img{
  margin-top: 20px !important;
  text-align: center;
}

.blk01 .min01{
  font-size: 26px !important;
  font-weight: bold;
  color: #886e4f;
}
.blk01 .min02{
  font-size: 22px !important;
  font-weight: bold;
  color: #e79698;
}

.blk01 .col02{
  margin-top: 40px !important;
  margin-bottom: 70px !important;
}
.blk01 .col02 .col{
  float: right;
  width: 39.57%;
}
.blk01 .col02 .col:first-child{
  float: left;
}


/* -------------- blk02 */
.blk02{
  position: relative;
  margin-top: 55px;
  padding: 55px 38px 50px;
  border: 4px solid #886e4f;
  background-color: #fff;
}
.blk02 .sub{
  width: 75%;
  padding: 0 1%;
  margin: auto!important;
  box-sizing: border-box;  
  margin-bottom: 35px !important;
  text-align: center;
}

.blk02 .img{
  margin-bottom: 25px !important;
  text-align: center;
}
.blk02 .min03{
  font-size: 32px !important;
  font-weight: bold;
  color: #cfa972;
  margin-bottom: 20px !important;
}
.blk02 .min01{
  font-size: 26px !important;
  font-weight: bold;
  color: #886e4f;
}
.blk02 .txt{
  font-size: 18px;
  line-height: 2.0;
  color: #414141;
}

.blk02 .col02{
  margin-top: 40px;
  font-size: 15px;
  line-height: 1.7;
}
.blk02 .col02 .col{
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 48.85%;
  min-height: 330px;
  padding: 18px;
  background-color: #f2f5f7;
  font-size: 14px;
  line-height: 1.8;
}
.blk02 .col02 .col:first-child{
  float: left;
}
.blk02 .col02 p{
  margin-top: 20px !important;
}
.blk02 .col02 .txt{
  margin-top: 0;
  font-size: 14px;
  line-height: 1.8;
}

.blk02 .note{
  margin-top: 15px !important;
  font-size: 10px;
}

.blk02 .btm_btn{
  width: 64.87%;
  margin: 35px auto 0 !important;
}
.blk02 .btm_btn a{
  display: block;
  padding: 20px 0 20px 8%;
  font-size: 25px;
  font-weight: bold;
  color: #ebc486;
  border: 4px solid #ebc486;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 0.05em;
  background: url("../images/cmn_btm_arw.png") no-repeat 95% center;
  background-size: 3%;
}


@media screen and (max-width: 768px ){
  .blk02 .btm_btn{
    width: 90%;
  }
  .blk02 .btm_btn a{
    font-size: 20px;
    background-position: 95% center;
    background-size: 20px;
  }  
}